.manage-hdd {
	.flex-form-container {
		height: calc(100vh - 70px - 50px);
	}

	a.link {
		text-decoration: none !important;
		color: #000;
	}

	.card-body.collapsing {
		transition-duration: 1.35s;
	}
}
