<anidb-navbar></anidb-navbar>

<div class="container-fluid manage-hdd">
	<div class="flex-form-container sidebar"
		ng-if="vm.dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" ng-if="vm.dataLoaded === true">
		<div class="col-xl-3 col-12 animate slideInLeft">
			<div class="card">
				<div class="card-header bg-success-light">
					<h5 class="mb-0">Disks</h5>
				</div>
				<div class="card-body">
					<div class="row mb-2" ng-repeat="data in vm.data">
						<div class="col-12">
							<p class="mb-2">
								<span><strong>{{ data.hdd.from }} - {{ data.hdd.to }}</strong></span>
								<span class="d-md-none d-sm-inline d-none">&nbsp;(Titles: {{ data.hdd.titles }})</span>
								<span class="pull-right"><strong>{{ data.hdd.percent }}%</strong></span>
							</p>
						</div>
						<div class="col-12 d-md-block d-sm-none">
							<p class="mb-2">
								<span>Titles :</span>
								<span class="pull-right">{{ data.hdd.titles }}</span>
							</p>
						</div>
						<div class="col-md-12 col-sm-6 col-12">
							<p class="mb-2">
								<span>Free :</span>
								<span class="pull-right">{{ data.hdd.free }}</span>
							</p>
						</div>
						<div class="col-md-12 col-sm-6 col-12">
							<p class="mb-2">
								<span>Usage :</span>
								<span class="pull-right">{{ data.hdd.used }} / {{ data.hdd.total }}</span>
							</p>
						</div>
						<div class="col-12">
							<uib-progressbar value="data.hdd.percent"
								type="{{ data.hdd.percentType }}">{{ data.hdd.percent }}%</uib-progressbar>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-9 col-12 mt-xl-0 mt-3 animate slideInUp">
			<div class="card mb-2" ng-repeat="data in vm.data">
				<a ng-href="#" class="link" ng-click="vm.panelCollapse(data.hdd.panel)">
					<div class="card-header p-3">
						<h5 class="mb-0">
								<span>{{ data.hdd.from }} - {{ data.hdd.to }}</span>
							<div class="pull-right">
								<span class="badge badge-pill badge-secondary">{{ data.hdd.titles }}</span>
								<span>&nbsp;{{ data.hdd.used }}</span>
							</div>
						</h5>
					</div>
				</a>
				<div class="card-body p-0" uib-collapse="!vm.collapse[data.hdd.panel - 1]">
					<div class="table-responsive px-3 py-2">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>Title</th>
									<th>File Size</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="entries in data.entries | orderBy: 'title'">
									<td class="wrap">
										<quality-legend value="{{ entries.quality }}"></quality-legend>
										<span>{{ entries.title }}</span>
									</td>
									<td>{{ entries.filesize }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<anidb-footer></anidb-footer>
