div.quality-legend-container {
	display: inline-block;

	div.quality-legend {
		width: 10px;
		height: 10px;
		display: inline-block;
		margin-right: 5px;

		&.legend-uhd { background-color: #f9c; }
		&.legend-fhd { background-color: #9f9; }
		&.legend-hd { background-color: #9cf; }
		&.legend-hq { background-color: #fc6; }
		&.legend-lq { border: 1px solid #777; }
	}
}
