$footer-height: 50px;

html {
	position: relative;
	min-height: 100%;

	body > div > div.container,
	body > div > div.container-fluid {
		&:not(.no-footer) { margin-bottom: $footer-height; }
	}

	anidb-footer {
		position: absolute;
		bottom: 0;
		height: $footer-height;
		width: 100%;
		background-color: #f3f3f3;
	}
}
