.anidb-about {
	.jumbotron {
		padding: 3.5rem 2rem;
		@media (max-width: 767px) { padding: 1.75rem 2rem; }
	}

	.display-4 {
		font-size: 2.75rem;
		@media (max-width: 767px) { font-size: 2.25rem; }
	}

	.lead {
		font-size: 1.85rem;
		@media (max-width: 767px) { font-size: 1.5rem; }
	}

	.btn-success-light {
		background-color: #66BB6A;
		border-color: #66BB6A;
		color: #FFF;
	}

	.flex-form-container { height: 332px; }

	.user-data-heading {
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid #95CE92;
		padding-bottom: 5px;
	}

	table.table-statistics td:not(.table-statistics-border) {
		border-top: 0;
		font-weight: bold;
	}

	table.table-specs td:not(.table-specs-border) {
		border-top: 0;
		&:not(.table-specs-value) { font-weight: bold; }
	}

	li.pt-0-5 { padding-top: .15rem; }

	h6 .badge.badge-pill {
		width: 85px;
		&.badge-warning { background-color: #EBA821; }
	}

	.issues-badge {
		color: #333;
		.badge.badge-pill { width: 120px; }
		.platform-android { background-color: #AED581; }
		.platform-chrome { background-color: #00ACC1; }
		.platform-documentation { background-color: #64B5F6; }
		.platform-firefox { background-color: #FFB300; }
		.platform-mobile { background-color: #B39DDB; }
		.priority-critical { background-color: #FF8A65; }
		.priority-high { background-color: #FFD54F; }
		.priority-normal { background-color: #81C784; }
		.resolution-abandoned { background-color: #424242; }
		.resolution-duplicate { background-color: #BDBDBD; }
		.resolution-invalid { background-color: #E0E0E0; }
		.type-bug { background-color: #EF5350; }
		.type-enhancement { background-color: #1E88E5; }
		.type-feature-request { background-color: #BA68C8; }
	}

	.list-unstyled hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	div.acknowledgements {
		display: inline-block;
		background-repeat: no-repeat;
		overflow: hidden;

		&.alice {
			background-position: -2px 0;
			width: 120px;
			height: 120px;
			border-radius: 60px;
			border: 1px solid #CECECE;
		}

		&.maid {
			background-position: -2px -122px;
			width: 120px;
			height: 120px;
			border-radius: 60px;
			border: 1px solid #CECECE;
		}

		&.ruka {
			background-position: -2px -244px;
			width: 120px;
			height: 120px;
			border-radius: 60px;
			border: 1px solid #CECECE;
		}
	}

	a.frameworks {
		display: inline-block;
		background-repeat: no-repeat;
		overflow: hidden;

		&.angular {
			background-position: -2px 0;
			width: 120px;
			height: 120px;
		}

		&.bootstrap {
			background-position: -124px 0;
			width: 120px;
			height: 120px;
		}

		&.cordova {
			background-position: -246px 0;
			width: 120px;
			height: 120px;
		}

		&.es8 {
			background-position: -2px -122px;
			width: 120px;
			height: 120px;
		}

		&.firebase {
			background-position: -124px -122px;
			width: 120px;
			height: 120px;
		}

		&.nightwatch {
			background-position: -246px -122px;
			width: 120px;
			height: 120px;
		}

		&.scss {
			background-position: -2px -244px;
			width: 120px;
			height: 120px;
		}

		&.travis {
			background-position: -124px -244px;
			width: 120px;
			height: 120px;
		}

		&.webpack {
			background-position: -246px -244px;
			width: 120px;
			height: 120px;
		}

		&.yarn {
			background-position: -2px -366px;
			width: 120px;
			height: 120px;
		}
	}

	a.platforms {
		display: inline-block;
		background-repeat: no-repeat;
		overflow: hidden;

		&.android {
			background-position: -2px 0;
			width: 120px;
			height: 120px;
		}

		&.chrome {
			background-position: -2px -122px;
			width: 120px;
			height: 120px;
		}

		&.firefox {
			background-position: -2px -244px;
			width: 120px;
			height: 120px;
		}
	}

	.btn-group {
		width: 80%;
		&.btn-group-2 .btn { width: 50%; }
		&.btn-group-3 .btn { width: 33.33%; }
	}

	.package-issues {
		code.blue { color: #1565C0; }
		code.green { color: #388E3C; }
		code.orange { color: #EF6C00; }
		code.red { color: #D32F2F; }
	}
}
