<div class="container">
	<div class="jumbotron">
		<h2 class="display-4">Rin Minase's Anime Database</h2>
		<p class="lead mb-0">Minase Conglomerate</p>
	</div>

	<div class="row">
		<div class="col-lg-4 col-12 animate slideInLeft">
			<div class="text-center">
				<img class="rounded-circle img-fluid img-user" *ngIf="userImage" [src]="userImage">
			</div>
		</div>

		<div class="col-lg-8 col-12 mt-3 user-data-column animate slideInUp">
			<h4 class="user-data-heading mt-lg-0">Developer</h4>
			<app-developer></app-developer>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-12 animate slideInLeft">
			<div class="row">
				<div class="col-12">

					<h4 class="text-center user-data-heading">Statistics</h4>

					<div class="flex-form-container"
						*ngIf="dataLoaded === false">
						<div class="spinner eclipse"></div>
					</div>

					<table class="table table-sm table-statistics"
						*ngIf="dataLoaded === true">
						<tbody>
							<tr>
								<td>Watch Time</td><td>:</td>
								<td>
									{{ totalDuration.days }} days, {{ totalDuration.hours }} hours,<br>
									{{ totalDuration.minutes }} minutes, {{ totalDuration.seconds }} seconds
								</td>
							</tr>
							<tr><td class="p-1" colspan="3"></td></tr>
							<tr><td class="table-statistics-border p-1" colspan="3"></td></tr>
							<tr>
								<td>Total Size</td><td>:</td>
								<td>{{ totalFilesizeGB }} GB ({{ totalFilesizeTB }} TB)</td>
							</tr>
							<tr>
								<td>Total Episodes</td><td>:</td><td>{{ totalEpisodes }} Episodes</td>
							</tr>
							<tr>
								<td>Total Titles</td><td>:</td><td>{{ totalTitles }} Titles</td>
							</tr>
							<tr>
								<td>Total Seasons</td><td>:</td><td>{{ totalSeasons }} Seasons</td>
							</tr>
							<tr><td class="p-1" colspan="3"></td></tr>
							<tr><td class="table-statistics-border p-1" colspan="3"></td></tr>
							<tr><td colspan="3">Anime Count Per Quality</td></tr>
							<tr>
								<td>4k 2160p</td><td class="text-center">:</td>
								<td class="text-center">{{ quality.uhd }}</td>
							</tr>
							<tr>
								<td>FHD 1080p</td><td class="text-center">:</td>
								<td class="text-center">{{ quality.fhd }}</td>
							</tr>
							<tr>
								<td>HD 720p</td><td class="text-center">:</td>
								<td class="text-center">{{ quality.hd }}</td>
							</tr>
							<tr>
								<td>HQ 480p</td><td class="text-center">:</td>
								<td class="text-center">{{ quality.hq }}</td>
							</tr>
							<tr>
								<td>LQ 360p</td><td class="text-center">:</td>
								<td class="text-center">{{ quality.lq }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row" *ngIf="dataLoaded === true">
				<div class="col-12 mt-4">
					<h4 class="text-center user-data-heading">Chart Data</h4>
				</div>
				<div class="col-lg-12 col-sm-6 col-12 text-center mb-3 px-0">
					<div class="btn-group btn-group-2">
						<button type="button" class="btn btn-success">Episodes</button>
						<button type="button" class="btn btn-success-light">Titles</button>
					</div>
				</div>
				<div class="col-lg-12 col-sm-6 col-12 text-center mb-3 px-0">
					<div class="btn-group btn-group-3">
						<button type="button" class="btn btn-success">Week</button>
						<button type="button" class="btn btn-success-light">Month</button>
						<button type="button" class="btn btn-success">Year</button>
					</div>
				</div>
				<div class="col-12">
					<canvas baseChart
						[datasets]="chart.data"
						[colors]="chart.colors"
						[labels]="chart.labels"
						[options]="chart.options"
						chartType="line">
					</canvas>
				</div>
			</div>

			<div class="row">
				<div class="col-12 mt-4">
					<h4 class="text-center user-data-heading">Unit Specs</h4>
					<app-unit-specs></app-unit-specs>
				</div>
			</div>

		</div>

		<div class="col-lg-8 col-12 user-data-column animate slideInUp">

			<div class="row">
				<div class="col-12">
					<h4 class="user-data-heading">Acknowledgements</h4>
					<div class="row">
						<div class="col-sm-4 col-12 text-center">
							<div class="acknowledgements ruka"></div>
							<h5>Ruka Suirenji</h5>
						</div>
						<div class="col-sm-4 col-6 text-center">
							<div class="acknowledgements alice"></div>
							<h5>Alice (ClariS)</h5>
						</div>
						<div class="col-sm-4 col-6 text-center">
							<div class="acknowledgements maid"></div>
							<h5>Maid-chan</h5>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<h4 class="user-data-heading">This Project is Made by</h4>
					<app-frameworks></app-frameworks>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<h4 class="user-data-heading">Target Platforms</h4>
					<div class="row">
						<div class="col-sm-4 col-6 text-center">
							<a href="https://www.google.com/chrome/" class="platforms chrome"></a>
						</div>
						<div class="col-sm-4 col-6 text-center">
							<a href="https://www.mozilla.org/en-US/firefox/" class="platforms firefox"></a>
						</div>
						<div class="col-sm-4 col-12 text-center">
							<a href="https://www.android.com/" class="platforms android"></a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<h4 class="user-data-heading">Programming Skillsets</h4>
					<app-skillsets></app-skillsets>
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-12">
					<app-changelog></app-changelog>
				</div>
			</div>

			<div class="row my-3">
				<div class="col-md-12">
					<app-issues></app-issues>
				</div>
			</div>

		</div>
	</div>
</div>
