.anidb-about {
	.jumbotron {
		padding: 3.5rem 2rem;
		@media (max-width: 767px) { padding: 1.75rem 2rem; }
	}

	.display-4 {
		font-size: 2.75rem;
		@media (max-width: 767px) { font-size: 2.25rem; }
	}

	.lead {
		font-size: 1.85rem;
		@media (max-width: 767px) { font-size: 1.5rem; }
	}

	.flex-form-container { height: 332px; }

	.user-data-heading {
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid #95CE92;
		padding-bottom: 5px;
	}

	table.table-statistics td:not(.table-statistics-border) {
		border-top: 0px;
		font-weight: bold;
	}

	li.pt-0-5{ padding-top: 0.15rem; }

	h6 .badge.badge-pill {
		width: 85px;
		&.badge-warning { background-color: #EBA821; }
	}

	code.github-issues {
		padding: 0px;

		&.to-do,
		&.in-progress { display: none; }
		&.platform-android { color: #AED581 }
		&.platform-chrome { color: #00ACC1 }
		&.platform-firefox { color: #FFB300 }
		&.platform-mobile { color: #B39DDB }
		&.priority-critical { color: #FF8A65 }
		&.priority-high { color: #FFD54F }
		&.priority-normal { color: #81C784 }
		&.resolution-abandoned { color: #424242 }
		&.resolution-duplicate { color: #BDBDBD }
		&.resolution-invalid { color: #E0E0E0 }
		&.type-bug { color: #E53935 }
		&.type-enhancement { color: #1E88E5 }
		&.type-feature-request { color: #BA68C8 }
	}

	.list-unstyled hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	div.acknowledgements {
		display: inline-block;
		background: url('https://firebasestorage.googleapis.com/v0/b/rin-anidb.appspot.com/o/assets%2Facknowledgements.png?alt=media&token=1ab8361f-c28b-4ddb-804f-43f6c0a2087a');
		background-repeat: no-repeat;
		overflow: hidden;

		&.alice { background-position: -2px -0px; width: 120px; height: 120px; border-radius: 60px; border: 1px solid #CECECE }
		&.maid { background-position: -2px -122px; width: 120px; height: 120px; border-radius: 60px; border: 1px solid #CECECE }
		&.ruka { background-position: -2px -244px; width: 120px; height: 120px; border-radius: 60px; border: 1px solid #CECECE }
	}

	a.frameworks {
		display: inline-block;
		background-image: url("https://firebasestorage.googleapis.com/v0/b/rin-anidb.appspot.com/o/assets%2Fframeworks.png?alt=media&token=2260d9af-fd44-405b-8170-c568e546fdf4");
		background-repeat: no-repeat;
		overflow: hidden;

		&.angular { background-position: -2px -0px; width: 120px; height: 120px; }
		&.bootstrap { background-position: -124px -0px; width: 120px; height: 120px; }
		&.cordova { background-position: -246px -0px; width: 120px; height: 120px; }
		&.es8 { background-position: -2px -122px; width: 120px; height: 120px; }
		&.firebase { background-position: -124px -122px; width: 120px; height: 120px; }
		&.nightwatch { background-position: -246px -122px; width: 120px; height: 120px; }
		&.scss { background-position: -2px -244px; width: 120px; height: 120px; }
		&.travis { background-position: -124px -244px; width: 120px; height: 120px; }
		&.webpack { background-position: -246px -244px; width: 120px; height: 120px; }
		&.yarn { background-position: -2px -366px; width: 120px; height: 120px; }
	}

	a.platforms {
		display: inline-block;
		background-image: url("https://firebasestorage.googleapis.com/v0/b/rin-anidb.appspot.com/o/assets%2Fplatforms.png?alt=media&token=3c3ef053-8a9f-4c20-95f1-ae7d8bd234b7");
		background-repeat: no-repeat;
		overflow: hidden;

		&.android { background-position: -2px -0px; width: 120px; height: 120px; }
		&.chrome { background-position: -2px -122px; width: 120px; height: 120px; }
		&.firefox { background-position: -2px -244px; width: 120px; height: 120px; }
	}

	.btn-group {
		width: 80%;
		&.btn-group-2 .btn { width: 50%; }
		&.btn-group-3 .btn { width: 33.33%; }
	}

	.package-issues {
		code.blue { color: #1565C0 }
		code.green { color: #388E3C }
		code.orange { color: #EF6C00 }
		code.red { color: #D32F2F }
	}
}
