<div class="container-fluid">
		<div class="flex-form-container sidebar"
			*ngIf="dataLoaded === false">
			<div class="spinner eclipse"></div>
		</div>

		<div class="row" *ngIf="dataLoaded === true">
			<div class="col-lg-3 col-12 animate slideInLeft">
				<div class="card mb-3">
					<div class="card-header bg-success-light">
						<h5 class="mb-0">Disks</h5>
					</div>
					<div class="card-body">
						<div class="row mb-3" *ngFor="let data of data">
							<div class="col-12">
								<p class="mb-2 mt-1">
									<span class="h6">
										<strong>
											<span>{{ data.hdd.from }}</span>
											<span *ngIf="data.hdd.to"> - {{ data.hdd.to }}</span>
										</strong>
									</span>
									<span class="d-md-none d-sm-inline d-none">&nbsp;(Titles: {{ data.hdd.titles }})</span>
									<span class="float-end"><strong>{{ data.hdd.percent }}%</strong></span>
								</p>
							</div>
							<div class="col-12 d-md-block d-sm-none">
								<p class="mb-2">
									<span>Titles :</span>
									<span class="float-end">{{ data.hdd.titles }}</span>
								</p>
							</div>
							<div class="col-md-12 col-sm-6 col-12">
								<p class="mb-2">
									<span>Free :</span>
									<span class="float-end">{{ data.hdd.free }}</span>
								</p>
							</div>
							<div class="col-md-12 col-sm-6 col-12">
								<p class="mb-2">
									<span>Usage :</span>
									<span class="float-end">{{ data.hdd.used }} / {{ data.hdd.total }}</span>
								</p>
							</div>
							<div class="col-12">
								<ngb-progressbar [value]="data.hdd.percent"
									[type]="data.hdd.percentType">{{ data.hdd.percent }}%</ngb-progressbar>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-9 col-12 mt-lg-0 mt-3 animate slideInUp">
				<div class="card mb-3" *ngFor="let data of data | slice: 1">
					<a class="link c-pointer" (click)="panelCollapse(data.hdd.panel)">
						<div class="card-header p-3">
							<h5 class="mb-0">
									<span>{{ data.hdd.from }} - {{ data.hdd.to }}</span>
								<div class="float-end">
									<span class="badge badge-pill bg-secondary">{{ data.hdd.titles }}</span>
									<span>&nbsp;{{ data.hdd.used }}</span>
								</div>
							</h5>
						</div>
					</a>
					<div class="card-body p-0" [ngbCollapse]="!collapse[data.hdd.panel - 1]">
						<div class="table-responsive px-3 py-2">
							<table class="table table-sm">
								<thead>
									<tr>
										<th>Title</th>
										<th>File Size</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let entries of data.entries">
										<td class="wrap">
											<app-legend value="{{ entries.quality }}"></app-legend>
											<span>{{ entries.title }}</span>
										</td>
										<td>{{ entries.filesize }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
