# General
.env
coverage/

# compiled output
dist/
out-tsc/
src/assets/res/android/hooks/after_build.js
src/assets/config/sw-precache-config.js

# IntelliJ IDE storage
.vscode/*

# Node/NPM/Yarn Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node/NPM/Yarn cache/storage/lock files
node_modules/
package-lock.json

# Android
www/
build/
*.apk
*.ap_
*.dex
.gradle
platforms/
plugins/

# Firebase cache directory
.firebase/

# Sonar Linting
.sonarlint/

