# General
.env
.tmp/
true!ng-annotate/
dist/
coverage/

# Yeoman Generator files
.yo-rc.json

# IntelliJ IDE storage
.idea/

# Node/NPM/Yarn Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node/NPM/Yarn cache/storage/lock files
.npm
node_modules/
package-lock.json
yarn.lock

# Optional eslint cache
.eslintcache

# Bower dependency directory
bower_components/

# Sass cache directory
.sass-cache/
