# General
*.local
.env
coverage/

# compiled output
dist/
dist-ssr/
out-tsc/
src/assets/res/android/hooks/after_build.js
src/assets/config/sw-precache-config.js

# IDE storage
.vscode/*

# Node/NPM/Yarn Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node/NPM/Yarn cache/storage/lock files
node_modules/
package-lock.json

# Firebase cache directory
.firebase/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.editorconfig
.env.example
.gitignore
