quality-legend {
	div.quality-legend-container {
		display: inline-block;

		div.quality-legend {
			width: 10px;
			height: 10px;
			display: inline-block;
			margin-right: 5px;

			&.legend-uhd { background-color: #F9C; }
			&.legend-fhd { background-color: #9F9; }
			&.legend-hd { background-color: #9CF; }
			&.legend-hq { background-color: #FC6; }
			&.legend-lq { border: 1px solid #777; }
		}
	}
}
