<div class="container-fluid">
	<div class="flex-form-container" *ngIf="dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" *ngIf="dataLoaded === true">
		<div class="col-lg-3 col-12 animate slideInLeft">
			<div class="card">
				<div class="card-body px-3 py-2">
					<div class="row">
						<div class="col-12">
							<button type="button" class="btn btn-success w-100 mt-2">
								<span>Reset to default</span>
							</button>

							<hr />

							<p class="fw-bold">Add new</p>
							<form [formGroup]="addDriveForm" (ngSubmit)="addDrive()">
								<div class="row">
									<div class="col-3">
										<select
											class="form-select"
											formControlName="from"
											[ngClass]="{
												'is-invalid': submitted && form.from.errors
											}"
										>
											<option value="" selected disabled></option>
											<option [value]="letter" *ngFor="let letter of letters">
												{{ letter }}
											</option>
										</select>
									</div>
									<div class="col-3">
										<select
											class="form-select"
											formControlName="to"
											[ngClass]="{ 'is-invalid': submitted && form.to.errors }"
										>
											<option value="" selected disabled></option>
											<option [value]="letter" *ngFor="let letter of letters">
												{{ letter }}
											</option>
										</select>
									</div>
									<div class="col-3 form-group">
										<input
											type="number"
											class="w-full form-control"
											formControlName="size"
											[ngClass]="{
												'is-invalid': submitted && form.size.errors
											}"
										/>
									</div>
									<div class="col-1 d-flex align-items-end ps-0">
										<span class="font-weight-bold">TB</span>
									</div>
									<div class="col-2 ps-1">
										<button
											class="
												btn btn-secondary btn-sm
												px-0
												rounded-circle
												btn-add-drive
											"
											type="submit"
										>
											<fa-icon [icon]="fasPlus" class="px-2"></fa-icon>
										</button>
									</div>
								</div>

								<div
									class="invalid-feedback d-block"
									*ngIf="submitted && form.to.errors"
								>
									<span *ngIf="form.to.errors.required">To is required</span>
								</div>

								<div
									class="invalid-feedback d-block"
									*ngIf="submitted && form.from.errors"
								>
									<span *ngIf="form.from.errors.required"
										>From is required</span
									>
								</div>

								<div
									class="invalid-feedback d-block"
									*ngIf="submitted && form.size.errors"
								>
									<span *ngIf="form.size.errors.required"
										>Size is required</span
									>
									<span *ngIf="form.size.errors.incorrect"
										>Invalid drive size</span
									>
								</div>
							</form>

							<hr />

							<button type="button" class="btn btn-success w-100">
								<span>Save current configuration</span>
							</button>
							<input type="text" class="form-control w-100 my-2" />

							<hr />

							<p class="ps-2 fw-bold">Saved Configurations</p>
							<div class="row config-item" *ngFor="let config of configs">
								<div class="col py-3 c-pointer" (click)="setConfig(config.id)">
									{{ config.name }}
								</div>
								<div class="col-auto pt-2 pe-3">
									<button class="btn btn-danger btn-sm" type="submit">
										<fa-icon [icon]="fasTrashAlt" class="px-2"></fa-icon>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-12 mt-lg-0 mt-3 animate slideInUp">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body px-3 py-2">
							<div class="row">
								<div
									class="
										col-1
										d-flex
										align-items-center
										justify-content-center
										c-pointer
									"
								>
									<fa-icon [icon]="fasGripLinesVertical" class="px-2"></fa-icon>
								</div>

								<div class="col-11">
									<div class="row">
										<div class="col-12 col-md-5">
											<div class="row">
												<div class="col-5">
													<p class="mb-1 text-center">From</p>
													<select class="form-select">
														<option value=""></option>
														<option value="">A</option>
													</select>
												</div>
												<div class="col-2 text-center">
													<span>&mdash;</span>
												</div>
												<div class="col-5">
													<p class="mb-1 text-center">To</p>
													<select class="form-select">
														<option value=""></option>
														<option value="">A</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-12 form-group">
													<p class="mb-1 mt-2">Size:</p>
													<input type="text" class="form-control" />
												</div>
											</div>
										</div>

										<div
											class="
												col-12 col-md-5
												d-flex
												align-items-center align-content-center
												flex-wrap
												drive-statistics
											"
										>
											<p>
												<span>Total: </span>
												<span>250GB</span>
											</p>
											<p>
												<span>Used: </span>
												<span>250GB&nbsp;</span>
												<span>(25%)</span>
											</p>
											<p>
												<span>Free: </span>
												<span>250GB&nbsp;</span>
												<span>(25%)</span>
											</p>
										</div>

										<div
											class="
												col-12 col-md-2
												d-flex
												align-items-center
												justify-content-end
											"
										>
											<button
												class="btn btn-danger btn-sm delete-drive-button"
												type="submit"
											>
												<fa-icon [icon]="fasTrashAlt" class="px-2"></fa-icon>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
