.config-item {
	border-radius: 6px;
	margin-left: 4px;
	margin-right: 4px;

	&:hover {
		background-color: #dededede;
	}
}

.btn-add-drive {
	padding-top: 7px;
	width: 38px;
	height: 38px;
}

.drive-statistics p {
	width: 100%;
}

@media (max-width: 768px) {
	.drive-statistics {
		p {
			margin-top: 12px;
			width: 33.33333%;
			text-align: center;

			&:not(:last-child) {
				border-right: 1px solid #dededede;
			}
		}
	}

	.delete-drive-button {
		width: 100%;
	}
}
