.flex-form-container { height: calc(100vh - 70px - 54px - 50px); }
#animeTable tr.anime-table-row td { cursor: pointer; }

.form-control:focus {
	outline: 0;
	border-color: initial;
	box-shadow: none;
}

.search-append {
	> .input-group-text {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		> .ng-fa-icon {
			margin-top: 1px;
		}
	}
}

.heart {
	position: relative;
	display: inline-block;
	font-size: 1.5rem;
	color: #DEDEDE;
	font-family: -apple-system, "Segoe UI", Roboto;

	.half {
		position: absolute;
		display: inline-block;
		overflow: hidden;
		color: #28A745;
	}

	&.low .half { color: #1E90FF; }
	&.bad .half { color: #E57373; }
}
