<div class="container-fluid" [ngClass]="{'bg-dark' : dark}">
	<div class="row">
		<div class="col-md-2 col-sm-3 d-none d-sm-block">
			<div class="form-group">
				<a class="btn btn-success btn-block c-pointer" (click)="addTitle()">
					<fa-icon [icon]="fasPlus"></fa-icon>
					<span class="pl-2">Add</span>
				</a>
			</div>
		</div>
		<div class="col-3 d-sm-none">
			<div class="form-group">
				<a class="btn btn-success btn-block c-pointer" (click)="addTitle()">
					<fa-icon [icon]="fasPlus"></fa-icon>
				</a>
			</div>
		</div>
		<div class="col-md-10 col-sm-9 col-9 pl-0">
			<div class="input-group">
				<input type="search"
					class="form-control border-right-0 border"
					placeholder="Search by Title, Quality, Release, Encoder, Remarks"
					[formControl]="search"
					autofocus>
				<span class="input-group-append">
					<div class="input-group-text bg-transparent border-left-0 border py-1">
						<fa-icon [icon]="fasSearch"></fa-icon>
					</div>
				</span>
				<button class="d-none">Submit</button>
			</div>
		</div>
	</div>

	<div class="flex-form-container"
		*ngIf="dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row"
		*ngIf="dataLoaded === true"
		[ngClass]="{'animate slideInUp': !homeState.search}">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-hover table-sm" id="animeTable">
					<thead>
						<tr>
							<th>Title</th>
							<th class="text-center">
								<span class="d-none d-sm-inline">E / O / S</span>
								<span class="d-inline d-sm-none">E/O/S</span>
							</th>
							<th class="text-center">File Size</th>
							<th class="text-center">Date Finished</th>
							<th>Release</th>
							<th>Encoder</th>
							<th class="text-center">Rating</th>
						</tr>
					</thead>
					<tbody>
						<tr class="anime-table-row c-pointer"
							id="{{ data.id }}"
							*ngFor="let data of getData()"
							(click)="viewTitle(data.id)">

							<td class="wrap">
								<app-legend [value]="data.quality"></app-legend>
								<span>{{ data.title }}</span>
							</td>
							<td class="text-center">
								{{ data.episodes }} / {{ data.ovas }} / {{ data.specials }}
							</td>
							<td class="text-center">{{ data.filesize }}</td>
							<td class="text-center">
								<span>{{ data.dateFinished }}</span>
								<span class="text-muted small" *ngIf="data.rewatchCount">&nbsp;(Rewatch)</span>
							</td>
							<td>{{ data.releaseSeason }} {{ data.releaseYear }}</td>
							<td>{{ data.encoder }}</td>
							<td class="text-center py-0" *ngIf="data.rating">
								<ngb-rating [(rate)]="data.rating"
									[readonly]="true"
									max="5"
									ngbTooltip="{{data.ratingOriginal}}">
									<ng-template let-fill="fill" #heartTemplate>
										<span class="heart"
											[class.bad]="data.rating < 3"
											[class.low]="data.rating >= 3 && data.rating < 3.5">
											<span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
										</span>
									</ng-template>
								</ngb-rating>
							</td>
							<td *ngIf="!data.rating"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
