.view-home {
	div.image-container {
		background-color: lightgray;
		width: 100%;
		max-width: 262.5px;
		height: 300px;

		@media screen and (max-width: 767px) { margin: 0px auto; }
	}

	.data-heading {
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid #95CE92;
		padding-bottom: 5px;
	}

	i {
		&.fa-snowflake-o { color: skyblue; }
		&.fa-leaf { color: green; }
		&.fa-sun-o { color: orange; }
		&.fa-tree { color: orangered; }
	}
}
