<anidb-navbar></anidb-navbar>

<div class="container view-home">
	<div class="flex-form-container"
		ng-class="{'hidden': vm.dataLoaded === true}">
		<div class="cp-spinner cp-eclipse"></div>
	</div>

	<div class="row" ng-class="{'hidden': vm.dataLoaded === false}">

		<div class="col-lg-3 col-md-12 col-sm-12">
			<div class="animate slideInLeft">
				<div class="row mb-2">
					<div class="col-lg-12 mb-2 hidden-sm hidden-md">
						<a class="btn btn-primary btn-block" ui-sref="home.manage">
							<i class="fa fa-angle-left"></i>
							<span>&nbsp;&nbsp;&nbsp;Back</span>
						</a>
					</div>
					<div class="col-lg-6 pr-1 hidden-sm hidden-md">
						<a class="btn btn-warning btn-block">
							<i class="fa fa-pencil"></i>
							<span>Edit</span>
						</a>
					</div>
					<div class="col-lg-6 pl-1 hidden-sm hidden-md">
						<a class="btn btn-danger btn-block">
							<i class="fa fa-trash"></i>
							<span>Delete</span>
						</a>
					</div>

					<div class="col-md-12 hidden-sm hidden-lg">
						<a class="btn btn-warning btn-block">
							<i class="fa fa-pencil"></i>
							<span>Edit</span>
						</a>
					</div>
					<div class="col-md-6 pr-1 hidden-sm hidden-lg">
						<a class="btn btn-warning btn-block">
							<i class="fa fa-pencil"></i>
							<span>Edit</span>
						</a>
					</div>
					<div class="col-md-12 pl-1 hidden-sm hidden-lg">
						<a class="btn btn-danger btn-block">
							<i class="fa fa-trash"></i>
							<span>Delete</span>
						</a>
					</div>

					<div class="col-sm-12 hidden-md hidden-lg">
						<a class="btn btn-warning btn-block">
							<i class="fa fa-pencil"></i>
							<span>Edit</span>
						</a>
					</div>
					<div class="col-sm-12 hidden-md hidden-lg">
						<a class="btn btn-danger btn-block">
							<i class="fa fa-trash"></i>
							<span>Delete</span>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="image-container">
							<img class="img-responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="animate slideInUp hidden-md hidden-sm">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-center">
						<h3 class="my-4">
							<span class="label label-primary">
								<span>Rewatches&nbsp;</span>
								<span class="badge mb-1">&nbsp;&nbsp;0&nbsp;&nbsp;</span>
							</span>
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-center my-2 total-rating"
						ng-click="isRatingCollapsed = !isRatingCollapsed"
						uib-tooltip="Ratings by Category">
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star-half-o"></i>
					</div>
					<div uib-collapse="!isRatingCollapsed">
						<div class="row" >
							<div class="col-lg-12 col-md-12 col-sm-12 my-1">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-1 col-md-offset-1">
										<span class="h4 mr-1">Audio</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 my-1">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-1 col-md-offset-1">
										<span class="h4 mr-1">Enjoyment</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 my-1">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-1 col-md-offset-1">
										<span class="h4 mr-1">Graphics</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 my-1">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-1 col-md-offset-1">
										<span class="h4 mr-1">Plot</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="animate slideInLeft hidden-lg">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-center">
						<h3 class="my-4">
							<span class="label label-primary">
								<span>Rewatches&nbsp;</span>
								<span class="badge mb-1">&nbsp;&nbsp;0&nbsp;&nbsp;</span>
							</span>
						</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-center my-2 total-rating"
						ng-click="isRatingCollapsed = !isRatingCollapsed"
						uib-tooltip="Ratings by Category">
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star"></i>
						<i class="fa fa-2x fa-star-half-o"></i>
					</div>
					<div uib-collapse="!isRatingCollapsed">
						<div class="row" >
							<div class="col-lg-12 col-md-12 col-sm-12 my-1">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-1 col-md-offset-1">
										<span class="h4 mr-1">Audio</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 my-1">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-1 col-md-offset-1">
										<span class="h4 mr-1">Enjoyment</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 my-1">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-1 col-md-offset-1">
										<span class="h4 mr-1">Graphics</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 my-1">
								<div class="row">
									<div class="col-lg-5 col-md-5 col-sm-6 col-lg-offset-1 col-md-offset-1">
										<span class="h4 mr-1">Plot</span>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="col-lg-9 col-md-12 col-sm-12 animate slideInRight">
			<div class="row mb-3">
				<div class="col-lg-12">
					<h2>{{ vm.data.title }}</h2>
					<h4 class="text-muted" ng-if="vm.data.shortTitle">
						<em>&#10077;&nbsp;{{ vm.data.shortTitle }}&#10078;</em>
					</h4>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<h3 class="data-heading">Episode Information</h3>
					<div class="row">
						<div class="col-lg-12">
							<p class="big">Episodes : {{ vm.data.episodes }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<p class="big">Specials : {{ vm.data.specials }}</p>
						</div>
						<div class="col-lg-6">
							<p class="big">OVAs : {{ vm.data.ovas }}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<h3 class="data-heading">Series Information</h3>
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-12" ng-if="vm.data.releaseYear">
									<p class="big">
										<span ng-if="vm.data.releaseSeason"
											ng-switch="vm.data.releaseSeason">
											<i class="fa fa-snowflake-o" ng-switch-when="Winter"></i>
											<i class="fa fa-leaf" ng-switch-when="Spring"></i>
											<i class="fa fa-sun-o" ng-switch-when="Summer"></i>
											<i class="fa fa-tree" ng-switch-when="Fall"></i>
										</span>
										<span ng-if="vm.data.releaseSeason">
											{{ vm.data.releaseSeason }}&nbsp;
										</span>
										<span>{{ vm.data.releaseYear }}</span>
									</p>
								</div>
								<div class="col-lg-12">
									<p class="big">
										<span>Season {{ vm.data.seasonNumber }} of&nbsp;<span>
										<span>{{ vm.data.firstSeasonTitle }}</span>
									</p>
								</div>
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-12">
											<p class="big">Variants :&nbsp;</p>
										</div>
										<div class="col-lg-12" ng-repeat="variants in vm.data.variants">
											<p class="big">{{ variants }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-12">
									<p class="big">Prequel: {{ vm.data.prequel }}</p>
								</div>
								<div class="col-lg-12">
									<p class="big">Sequel: {{ vm.data.sequel }}</p>
								</div>
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-12">
											<p class="big">
												<span>Offquel :&nbsp;</span>
											</p>
										</div>
										<div class="col-lg-12" ng-repeat="offquel in vm.data.offquel">
											<p class="big">{{ offquel }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<anidb-footer></anidb-footer>
