<anidb-navbar></anidb-navbar>

<div class="container view-home">
	<div class="flex-form-container"
		ng-class="{'d-none': vm.dataLoaded === true}">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" ng-class="{'d-none': vm.dataLoaded === false}">

		<div class="col-sm-12 hidden-lg hidden-md hidden-xs animate fadeInDown">
			<div class="row mb-2">
				<div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 mb-2">
					<a class="btn btn-primary btn-block" ui-sref="home.manage">
						<i class="fa fa-angle-left"></i>
						<span>&nbsp;&nbsp;&nbsp;Back</span>
					</a>
				</div>
				<div class="col-lg-6 col-xs-6 hidden-md hidden-sm pr-1">
					<a class="btn btn-warning btn-block"
						ng-href="#"
						ng-click="vm.editTitle()">
						<i class="fa fa-pencil"></i>
						<span>Edit</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 hidden-lg hidden-xs">
					<a class="btn btn-warning btn-block"
						ng-href="#"
						ng-click="vm.editTitle()">
						<i class="fa fa-pencil"></i>
						<span>Edit</span>
					</a>
				</div>
				<div class="col-lg-6 col-xs-6 hidden-md hidden-sm pl-1">
					<a class="btn btn-danger btn-block"
						ng-href="#"
						ng-click="vm.deleteTitle()">
						<i class="fa fa-trash"></i>
						<span>Delete</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 hidden-lg hidden-xs">
					<a class="btn btn-danger btn-block"
						ng-href="#"
						ng-click="vm.deleteTitle()">
						<i class="fa fa-trash"></i>
						<span>Delete</span>
					</a>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 animate slideInLeft">
			<div class="row mb-2 hidden-sm">
				<div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 mb-2">
					<a class="btn btn-primary btn-block" ui-sref="home.manage">
						<i class="fa fa-angle-left"></i>
						<span>&nbsp;&nbsp;&nbsp;Back</span>
					</a>
				</div>
				<div class="col-lg-6 col-xs-6 hidden-md hidden-sm pr-1">
					<a class="btn btn-warning btn-block"
						ng-href="#"
						ng-click="vm.editTitle()">
						<i class="fa fa-pencil"></i>
						<span>Edit</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 hidden-lg hidden-xs">
					<a class="btn btn-warning btn-block"
						ng-href="#"
						ng-click="vm.editTitle()">
						<i class="fa fa-pencil"></i>
						<span>Edit</span>
					</a>
				</div>
				<div class="col-lg-6 col-xs-6 hidden-md hidden-sm pl-1">
					<a class="btn btn-danger btn-block"
						ng-href="#"
						ng-click="vm.deleteTitle()">
						<i class="fa fa-trash"></i>
						<span>Delete</span>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 hidden-lg hidden-xs">
					<a class="btn btn-danger btn-block"
						ng-href="#"
						ng-click="vm.deleteTitle()">
						<i class="fa fa-trash"></i>
						<span>Delete</span>
					</a>
				</div>
			</div>
			<div class="row hidden-sm hidden-md hidden-lg mb-3 text-center">
					<div class="col-lg-12">
						<h2>{{ vm.data.title }}</h2>
						<h4 class="text-muted" ng-if="vm.data.shortTitle">
							<em>&#10077;&nbsp;{{ vm.data.shortTitle }}&#10078;</em>
						</h4>
					</div>
				</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="image-container">
						<img class="img-responsive">
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<h3 class="my-4">
						<span class="label label-primary">
							<span>Rewatches&nbsp;</span>
							<span class="badge mb-1">&nbsp;&nbsp;0&nbsp;&nbsp;</span>
						</span>
					</h3>
				</div>
				<rating value="5" audio="5" enjoyment="5" graphics="5" plot="5"></rating>
			</div>
		</div>

		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 animate slideInUp">
			<div class="row hidden-xs mb-3">
				<div class="col-lg-12">
					<h2>{{ vm.data.title }}</h2>
					<h4 class="text-muted" ng-if="vm.data.shortTitle">
						<em>&#10077;&nbsp;{{ vm.data.shortTitle }}&#10078;</em>
					</h4>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<h3 class="data-heading">Episode Information</h3>
					<div class="row">
						<div class="col-lg-12">
							<p class="big">Episodes : {{ vm.data.episodes }}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<p class="big">Specials : {{ vm.data.specials }}</p>
						</div>
						<div class="col-lg-6">
							<p class="big">OVAs : {{ vm.data.ovas }}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<h3 class="data-heading">Series Information</h3>
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-12" ng-if="vm.data.releaseYear">
									<p class="big">
										<span ng-if="vm.data.releaseSeason"
											ng-switch="vm.data.releaseSeason">
											<i class="fa fa-snowflake-o" ng-switch-when="Winter"></i>
											<i class="fa fa-leaf" ng-switch-when="Spring"></i>
											<i class="fa fa-sun-o" ng-switch-when="Summer"></i>
											<i class="fa fa-tree" ng-switch-when="Fall"></i>
										</span>
										<span ng-if="vm.data.releaseSeason">
											{{ vm.data.releaseSeason }}&nbsp;
										</span>
										<span>{{ vm.data.releaseYear }}</span>
									</p>
								</div>
								<div class="col-lg-12">
									<p class="big">
										<span>Season {{ vm.data.seasonNumber }} of&nbsp;<span>
										<span>{{ vm.data.firstSeasonTitle }}</span>
									</p>
								</div>
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-12">
											<p class="big">Variants :&nbsp;</p>
										</div>
										<div class="col-lg-12" ng-repeat="variants in vm.data.variants">
											<p class="big">{{ variants }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-12">
									<p class="big">Prequel: {{ vm.data.prequel }}</p>
								</div>
								<div class="col-lg-12">
									<p class="big">Sequel: {{ vm.data.sequel }}</p>
								</div>
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-12">
											<p class="big">
												<span>Offquel :&nbsp;</span>
											</p>
										</div>
										<div class="col-lg-12" ng-repeat="offquel in vm.data.offquel">
											<p class="big">{{ offquel }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<anidb-footer></anidb-footer>
