<h3>
	<strong>Rin Minase</strong>&nbsp;
	<span class="d-inline d-sm-none"><br></span>
	<small>(Kristian Alunan)</small>
</h3>
<h5>Minase Conglomerate</h5>
<div class="row">
	<div class="col-md-6">
		<h6>
			<table class="table table-sm">
				<tbody>
					<tr>
						<td class="text-center"><fa-icon [icon]="fasEnvelope"></fa-icon></td>
						<td>rin.black.raison.detre@gmail.com</td>
					</tr>
					<tr>
						<td class="text-center"><fa-icon [icon]="fabFacebook"></fa-icon></td>
						<td>
							<a href="https://www.facebook.com/RinMinase666/"
								class="link"
								target="_blank"
								rel="noopener">facebook.com/RinMinase666</a>
						</td>
					</tr>
					<tr>
						<td class="text-center"><fa-icon [icon]="fabGithub"></fa-icon></td>
						<td>
							<a href="https://www.github.com/RinMinase/"
								class="link"
								target="_blank"
								rel="noopener">github.com/RinMinase</a>
						</td>
					</tr>
					<tr>
						<td class="text-center"><fa-icon [icon]="fabBitbucket"></fa-icon></td>
						<td>
							<a href="https://www.bitbucket.com/kralunan/"
								class="link"
								target="_blank"
								rel="noopener">bitbucket.com/kralunan</a>
						</td>
					</tr>
				</tbody>
			</table>
		</h6>
	</div>
</div>
