<anidb-navbar></anidb-navbar>

<div class="container-fluid anidb-lastwatch">

	<div class="flex-form-container"
		ng-if="vm.dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" ng-if="vm.dataLoaded === true">
		<div class="col-xl-3 col-12 animate slideInLeft">
			<div class="card">
				<div class="card-header bg-success-light">
					<h5 class="mb-0">Statistics (Last 20 Watched)</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-sm table-unbordered mb-0">
							<tr>
								<th>Total Episodes</th>
								<th>:</th>
								<th class="text-center">{{ ::vm.totalEpisodes }}</th>
							</tr>
							<tr>
								<th>
									<span>Days Since Last Anime<br></span>
									<small>{{ ::vm.dateFirst }}</small>
								</th>
								<th>:</th>
								<th class="text-center">{{ ::vm.daysSinceLastAnime }}</th>
							</tr>
							<tr>
								<th>
									<span>Days Since Last Date Counted<br></span>
									<small>{{ ::vm.dateLast }}</small>
								</th>
								<th>:</th>
								<th class="text-center">{{ ::vm.daysSinceLastDateCounted }}</th>
							</tr>
							<tr>
								<th>Titles per Day</th>
								<th>:</th>
								<th class="text-center">{{ ::vm.titlesPerDay }}</th>
							</tr>
							<tr>
								<th>Single Season per Day<br><small>(12 Episodes)</small></th>
								<th>:</th>
								<th class="text-center">{{ ::vm.singleSeasonPerDay }}</th>
							</tr>
							<tr>
								<th>Episodes per Day</th>
								<th>:</th>
								<th class="text-center">{{ ::vm.episodesPerDay }}</th>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xl-9 col-12 mt-xl-0 mt-3 animate slideInUp">
			<div class="table-responsive">
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Title</th>
							<th class="text-center">File Size</th>
							<th class="text-center">Date Finished</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in vm.data">
							<td class="wrap" ng-switch="data.quality">
								<quality-legend value="{{ ::data.quality }}"></quality-legend>
								<span>{{ ::data.title }}</span>
							</td>

							<td class="text-center">{{ ::data.filesize }}</td>
							<td class="text-center">
								<span ng-if="data.rewatchLast">{{ ::data.rewatchLast }}</span>
								<span ng-if="!data.rewatchLast">{{ ::data.dateFinished }}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

<anidb-footer></anidb-footer>
