<div class="container-fluid">

	<div class="flex-form-container" *ngIf="!dataLoaded">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" *ngIf="!!dataLoaded">
		<div class="col-lg-3 col-12 animate slideInLeft">
			<div class="card">
				<div class="card-header bg-success-light">
					<h5 class="mb-0">Statistics (Last 20 Watched)</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-sm table-unbordered mb-0">
							<tr>
								<th>Total Episodes</th>
								<th>:</th>
								<th class="text-center">{{ stats.totalEpisodes }}</th>
							</tr>
							<tr>
								<th>
									<span>Days Since Last Anime<br></span>
									<small>{{ stats.dateFirst }}</small>
								</th>
								<th>:</th>
								<th class="text-center">{{ stats.daysSinceLastAnime }}</th>
							</tr>
							<tr>
								<th>
									<span>Days Since Last Date Counted<br></span>
									<small>{{ stats.dateLast }}</small>
								</th>
								<th>:</th>
								<th class="text-center">{{ stats.daysSinceLastDateCounted }}</th>
							</tr>
							<tr>
								<th>Titles per Week</th>
								<th>:</th>
								<th class="text-center">{{ stats.titlesPerWeek }}</th>
							</tr>
							<tr>
								<th>Single Season per Week<br><small>(12 Episodes)</small></th>
								<th>:</th>
								<th class="text-center">{{ stats.singleSeasonPerWeek }}</th>
							</tr>
							<tr>
								<th>Episodes per Week</th>
								<th>:</th>
								<th class="text-center">{{ stats.episodesPerWeek }}</th>
							</tr>
							<tr>
								<th>Episodes per Day</th>
								<th>:</th>
								<th class="text-center">{{ stats.episodesPerDay }}</th>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-12 mt-lg-0 mt-3 animate slideInUp">
			<div class="table-responsive">
				<table class="table table-sm">
					<thead>
						<tr>
							<th>Title</th>
							<th class="text-center">File Size</th>
							<th>Date Finished</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let data of data">
							<td class="wrap">
								<app-legend value="{{ data.quality }}"></app-legend>
								<span>{{ data.title }}</span>
							</td>

							<td class="text-center">{{ data.filesize }}</td>
							<td>
								<span *ngIf="data.rewatchLast">
									<span>{{ data.rewatchLast }}</span>
									<span class="text-muted small">&nbsp;(Rewatch)</span>
								</span>
								<span *ngIf="!data.rewatchLast">{{ data.dateFinished }}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
