<div class="d-sm-block d-none">
	<table class="table table-sm table-specs">
		<tbody>
			<tr>
				<td>CPU</td><td>:</td>
				<td class="table-specs-value">{{ data.cpu }}</td>
			</tr>
			<tr>
				<td>RAM</td><td>:</td>
				<td class="table-specs-value">{{ data.ram }}<br>{{ data.ramSubtext }}</td>
			</tr>
			<tr>
				<td>GPU</td><td>:</td>
				<td class="table-specs-value">{{ data.gpu }}<br>{{ data.gpuSubtext }}</td>
			</tr>
			<tr><td class="p-1" colspan="3"></td></tr>
			<tr><td class="table-specs-border p-1" colspan="3"></td></tr>
			<tr>
				<td>Motherboard</td><td>:</td>
				<td class="table-specs-value">{{ data.motherboard }}</td>
			</tr>
			<tr>
				<td>PSU</td><td>:</td>
				<td class="table-specs-value">{{ data.psu }}<br>{{ data.psuSubtext }}</td>
			</tr>
			<tr>
				<td>CPU Cooler</td><td>:</td>
				<td class="table-specs-value">{{ data.cooler }}</td>
			</tr>
			<tr>
				<td>SSD</td><td>:</td>
				<td class="table-specs-value">{{ data.ssd }}</td>
			</tr>
			<tr>
				<td>HDD</td><td>:</td>
				<td class="table-specs-value">{{ data.hdd }}</td>
			</tr>
			<tr><td class="p-1" colspan="3"></td></tr>
			<tr><td class="table-specs-border p-1" colspan="3"></td></tr>
			<tr>
				<td>Case</td><td>:</td>
				<td class="table-specs-value">{{ data.case }}</td>
			</tr>
			<tr>
				<td>Case Fans</td><td>:</td>
				<td class="table-specs-value">{{ data.fans }}</td>
			</tr>
			<tr><td class="p-1" colspan="3"></td></tr>
			<tr><td class="table-specs-border p-1" colspan="3"></td></tr>
			<tr>
				<td>Monitor</td><td>:</td>
				<td class="table-specs-value">{{ data.monitor }}</td>
			</tr>
			<tr>
				<td>Speakers</td><td>:</td>
				<td class="table-specs-value">{{ data.speakers }}</td>
			</tr>
			<tr><td class="p-1" colspan="3"></td></tr>
			<tr><td class="table-specs-border p-1" colspan="3"></td></tr>
			<tr>
				<td>Keyboard</td><td>:</td>
				<td class="table-specs-value">{{ data.keyboard }}</td>
			</tr>
			<tr>
				<td>Mouse</td><td>:</td>
				<td class="table-specs-value">{{ data.mouse }}</td>
			</tr>
			<tr>
				<td>Mat</td><td>:</td>
				<td class="table-specs-value">{{ data.mat }}<br>{{ data.matSubtext }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="d-block d-sm-none">
	<table class="table table-sm table-specs">
		<tbody>
			<tr><th>CPU</th></tr>
			<tr><td class="table-specs-value">{{ data.cpu }}</td></tr>
			<tr><th>RAM</th></tr>
			<tr><td class="table-specs-value">{{ data.ram }}</td></tr>
			<tr><th>GPU</th></tr>
			<tr><td class="table-specs-value">{{ data.gpu }}</td></tr>

			<tr><td class="p-1" colspan="3"></td></tr>
			<tr><td class="table-specs-border p-1" colspan="3"></td></tr>

			<tr><th>Motherboard</th></tr>
			<tr><td class="table-specs-value">{{ data.motherboard }}</td></tr>
			<tr><th>PSU</th></tr>
			<tr><td class="table-specs-value">{{ data.psu }}</td></tr>
			<tr><td class="table-specs-value">{{ data.psuSubtext }}</td></tr>
			<tr><th>CPU Cooler</th></tr>
			<tr><td class="table-specs-value">{{ data.cooler }}</td></tr>
			<tr><th>SSD</th></tr>
			<tr><td class="table-specs-value">{{ data.ssd }}</td></tr>
			<tr><th>HDD</th></tr>
			<tr><td class="table-specs-value">{{ data.hdd }}</td></tr>

			<tr><td class="p-1" colspan="3"></td></tr>
			<tr><td class="table-specs-border p-1" colspan="3"></td></tr>

			<tr><th>Case</th></tr>
			<tr><td class="table-specs-value">{{ data.case }}</td></tr>
			<tr><th>Case Fans</th></tr>
			<tr><td class="table-specs-value">{{ data.fans }}</td></tr>

			<tr><td class="p-1" colspan="3"></td></tr>
			<tr><td class="table-specs-border p-1" colspan="3"></td></tr>

			<tr><th>Monitor</th></tr>
			<tr><td class="table-specs-value">{{ data.monitor }}</td></tr>
			<tr><th>Speakers</th></tr>
			<tr><td class="table-specs-value">{{ data.speakers }}</td></tr>

			<tr><td class="p-1" colspan="3"></td></tr>
			<tr><td class="table-specs-border p-1" colspan="3"></td></tr>

			<tr><th>Keyboard</th></tr>
			<tr><td class="table-specs-value">{{ data.keyboard }}</td></tr>
			<tr><th>Mouse</th></tr>
			<tr><td class="table-specs-value">{{ data.mouse }}</td></tr>
			<tr><th>Mat</th></tr>
			<tr><td class="table-specs-value">{{ data.mat }} {{ data.matSubtext }}</td></tr>
		</tbody>
	</table>
</div>
