<div>
	<div class="modal-header">
		<h4 class="modal-title">Add Title Download</h4>
		<button type="button" class="close" (click)="cancel()"><i>&times;</i></button>
	</div>

	<div class="modal-body">
		<div class="row">
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" (click)="cancel()" class="btn btn-warning text-body mr-auto">
			<fa-icon [icon]="fasTimes" class="pr-2"></fa-icon>
			<span>Cancel</span>
		</button>
		<button type="submit" class="btn btn-success text-body">
			<fa-icon [icon]="fasCheck" class="pr-2"></fa-icon>
			<span>Save</span>
		</button>
	</div>
</div>
