<div class="rating">
	<div class="text-center my-2 total-rating">
		<!-- ng-click="isRatingCollapsed = !isRatingCollapsed"
		uib-tooltip="Ratings by Category"> -->
		<i class="fa fa-2x fa-star"></i>
		<i class="fa fa-2x fa-star"></i>
		<i class="fa fa-2x fa-star"></i>
		<i class="fa fa-2x fa-star-half-o"></i>
		<i class="fa fa-2x fa-star-o"></i>
	</div>
	<!-- <div uib-collapse="!isRatingCollapsed"> -->
		<div class="row">
			<div class="col-12 my-1">
				<div class="row">
					<div class="col-md-5 col-6 offset-md-1">
						<span class="h5 mr-1">Audio</span>
					</div>
					<div class="col-md-5 col-6">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</div>
				</div>
			</div>
			<div class="col-12 my-1">
				<div class="row">
					<div class="col-md-5 col-6 offset-md-1">
						<span class="h5 mr-1">Enjoyment</span>
					</div>
					<div class="col-md-5 col-6">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</div>
				</div>
			</div>
			<div class="col-12 my-1">
				<div class="row">
					<div class="col-md-5 col-6 offset-md-1">
						<span class="h5 mr-1">Graphics</span>
					</div>
					<div class="col-md-5 col-6">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</div>
				</div>
			</div>
			<div class="col-12 my-1">
				<div class="row">
					<div class="col-md-5 col-6 offset-md-1">
						<span class="h5 mr-1">Plot</span>
					</div>
					<div class="col-md-5 col-6">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-half-o"></i>
						<i class="fa fa-star-o"></i>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
</div>
