<div class="row">
	<div class="col-12 text-center mb-2">
		<ngb-rating [(rate)]="overall" [readonly]="true" max="5">
			<ng-template let-fill="fill" #heartTemplate>
				<span class="heart" [class.bad]="overall < 3" [class.low]="overall === 3">
					<span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
				</span>
			</ng-template>
		</ngb-rating>
		<p class="h6 font-weight-bold">Rating: {{ overall }}</p>
	</div>

	<div class="col-12 text-center mt-2">
		<h6 class="mb-0">Audio</h6>
		<ngb-rating [(rate)]="audio" max="10" (rateChange)="changeRating()">
			<ng-template let-fill="fill">
				<span class="star"
					[class.full]="fill === 100"
					[class.bad]="audio < 3"
					[class.low]="audio === 3">&#9733;</span>
			</ng-template>
		</ngb-rating>
	</div>

	<div class="col-12 text-center mt-2">
		<h6 class="mb-0">Enjoyment</h6>
		<ngb-rating [(rate)]="enjoyment" max="10" (rateChange)="changeRating()">
			<ng-template let-fill="fill">
				<span class="star"
					[class.full]="fill === 100"
					[class.bad]="enjoyment < 3"
					[class.low]="enjoyment === 3">&#9733;</span>
			</ng-template>
		</ngb-rating>
	</div>

	<div class="col-12 text-center mt-2">
		<h6 class="text-center mb-0">Graphics</h6>
		<ngb-rating [(rate)]="graphics" max="10" (rateChange)="changeRating()">
			<ng-template let-fill="fill">
				<span class="star"
					[class.full]="fill === 100"
					[class.bad]="graphics < 3"
					[class.low]="graphics === 3">&#9733;</span>
			</ng-template>
		</ngb-rating>
	</div>

	<div class="col-12 text-center mt-2">
		<h6 class="text-center mb-0">Plot</h6>
		<ngb-rating [(rate)]="plot" max="10" (rateChange)="changeRating()">
			<ng-template let-fill="fill">
				<span class="star"
					[class.full]="fill === 100"
					[class.bad]="plot < 3"
					[class.low]="plot === 3">&#9733;</span>
			</ng-template>
		</ngb-rating>
	</div>
</div>
