<div class="row">
	<div class="col-12 text-center mb-2">
		<ngb-rating [(rate)]="overall" [readonly]="true" max="5">
				<ng-template let-fill="fill" #heartTemplate>
					<span class="heart" [class.bad]="overall < 3" [class.low]="overall === 3">
						<span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
					</span>
				</ng-template>
		</ngb-rating>
		<p class="h6 font-weight-bold mb-0">Rating: {{ overall }}</p>
	</div>

	<div class="col-12">
		<div class="row">
			<div class="col-6 pt-2">
				<span class="h6 pl-lg-3 pl-md-2 pl-5 mr-1">Audio</span>
			</div>
			<div class="col-6 text-center">
					<ngb-rating [(rate)]="audio" max="5" (rateChange)="changeRating()">
						<ng-template let-fill="fill">
							<span class="star"
								[class.full]="fill === 100"
								[class.bad]="audio < 3"
								[class.low]="audio === 3">&#9733;</span>
						</ng-template>
					</ngb-rating>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="row">
			<div class="col-6 pt-2">
				<span class="h6 pl-lg-3 pl-md-2 pl-5 mr-1">Enjoyment</span>
			</div>
			<div class="col-6 text-center">
					<ngb-rating [(rate)]="enjoyment" max="5" (rateChange)="changeRating()">
							<ng-template let-fill="fill">
								<span class="star"
									[class.full]="fill === 100"
									[class.bad]="enjoyment < 3"
									[class.low]="enjoyment === 3">&#9733;</span>
							</ng-template>
					</ngb-rating>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="row">
			<div class="col-6 pt-2">
				<span class="h6 pl-lg-3 pl-md-2 pl-5 mr-1">Graphics</span>
			</div>
			<div class="col-6 text-center">
					<ngb-rating [(rate)]="graphics" max="5" (rateChange)="changeRating()">
							<ng-template let-fill="fill">
								<span class="star"
									[class.full]="fill === 100"
									[class.bad]="graphics < 3"
									[class.low]="graphics === 3">&#9733;</span>
							</ng-template>
					</ngb-rating>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="row">
			<div class="col-6 pt-2">
				<span class="h6 pl-lg-3 pl-md-2 pl-5 mr-1">Plot</span>
			</div>
			<div class="col-6 text-center">
					<ngb-rating [(rate)]="plot" max="5" (rateChange)="changeRating()">
							<ng-template let-fill="fill">
								<span class="star"
									[class.full]="fill === 100"
									[class.bad]="plot < 3"
									[class.low]="plot === 3">&#9733;</span>
							</ng-template>
					</ngb-rating>
			</div>
		</div>
	</div>
</div>
