<table class="table table-sm table-specs">
	<tbody>
		<tr>
			<td>CPU</td>
			<td>:</td>
			<td class="table-specs-value">Intel Core i7-9700K (12M, 4.9GHz)</td>
		</tr>
		<tr>
			<td>RAM</td>
			<td>:</td>
			<td class="table-specs-value">GSkill Trident Z RGB 16GB<br>(2 &times; 8GB) 3000MHz DDR4</td>
		</tr>
		<tr>
			<td>GPU</td>
			<td>:</td>
			<td class="table-specs-value">Asus ROG Strix GTX 1070 OC<br>(8GB DDR5)</td>
		</tr>
		<tr><td class="p-1" colspan="3"></td></tr>
		<tr><td class="table-specs-border p-1" colspan="3"></td></tr>
		<tr>
			<td>Motherboard</td>
			<td>:</td>
			<td class="table-specs-value">Asus ROG Strix Z390-E Gaming</td>
		</tr>
		<tr>
			<td>PSU</td>
			<td>:</td>
			<td class="table-specs-value">CoolerMaster MasterWatt 650W<br>80+ Bronze</td>
		</tr>
		<tr>
			<td>CPU Cooler</td>
			<td>:</td>
			<td class="table-specs-value">FSP Windale 4 120mm HSF</td>
		</tr>
		<tr>
			<td>SSD</td>
			<td>:</td>
			<td class="table-specs-value">Samsung 860 EVO 250GB</td>
		</tr>
		<tr>
			<td>HDD</td>
			<td>:</td>
			<td class="table-specs-value">Western Digital Black 2TB</td>
		</tr>
		<tr><td class="p-1" colspan="3"></td></tr>
		<tr><td class="table-specs-border p-1" colspan="3"></td></tr>
		<tr>
			<td>Case</td>
			<td>:</td>
			<td class="table-specs-value">Tecware Edge (Mid-Tower)</td>
		</tr>
		<tr>
			<td>Case Fans</td>
			<td>:</td>
			<td class="table-specs-value">Thermaltake Riing Premium 120</td>
		</tr>
		<tr><td class="p-1" colspan="3"></td></tr>
		<tr><td class="table-specs-border p-1" colspan="3"></td></tr>
		<tr>
			<td>Monitor</td>
			<td>:</td>
			<td class="table-specs-value">Samsung S20D300 (1600 &times; 900)</td>
		</tr>
		<tr>
			<td>Speakers</td>
			<td>:</td>
			<td class="table-specs-value">Bose Companion 50 2.1</td>
		</tr>
		<tr><td class="p-1" colspan="3"></td></tr>
		<tr><td class="table-specs-border p-1" colspan="3"></td></tr>
		<tr>
			<td>Keyboard</td>
			<td>:</td>
			<td class="table-specs-value">Razer Blackwidow TE Chroma</td>
		</tr>
		<tr>
			<td>Mouse</td>
			<td>:</td>
			<td class="table-specs-value">Razer Deathadder Chroma</td>
		</tr>
		<tr>
			<td>Mousepad</td>
			<td>:</td>
			<td class="table-specs-value">Steelseries QCK XXL<br>900mm &times; 300mm Mat</td>
		</tr>
	</tbody>
</table>
