.issues-badge {
	color: #333;
	.badge.badge-pill { width: 130px; }
	.platform-android { background-color: #aed581; }
	.platform-chrome { background-color: #00acc1; }
	.platform-documentation { background-color: #64b5f6; }
	.platform-firefox { background-color: #ffb300; }
	.platform-mobile { background-color: #b39ddb; }
	.priority-critical { background-color: #ff8a65; }
	.priority-high { background-color: #ffd54f; }
	.priority-normal { background-color: #81c784; }
	.resolution-abandoned { background-color: #424242; }
	.resolution-duplicate { background-color: #bdbdbd; }
	.resolution-invalid { background-color: #e0e0e0; }
	.type-bug { background-color: #ef5350; }
	.type-enhancement { background-color: #1e88e5; }
	.type-feature-request { background-color: #ba68c8; }
}

.package-issues {
	code.blue { color: #1565c0; }
	code.green { color: #388e3c; }
	code.orange { color: #ef6c00; }
	code.red { color: #d32f2f; }
}
