<div class="container">
	<div class="row">
		<button (click)="displayUploadProps()">PRINT</button>
	</div>
	<div class="row">
		<div class="col-4">
			<div ng2FileDrop
				[ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
				(fileOver)="fileOverBase($event)"
				[uploader]="uploader"
				class="well my-drop-zone">
				Base drop zone
			</div>
		</div>

		<div class="col-8">
			<table class="table">
				<thead>
					<tr>
						<th width="50%">Name</th>
						<th>Size</th>
						<th>Progress</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of uploader.queue">
						<td><strong>{{ item?.file?.name }}</strong></td>
						<td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
						<td>
								<div class="progress" style="margin-bottom: 0;">
										<div class="progress-bar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
								</div>
						</td>
						<td class="text-center">
								<span *ngIf="item.isSuccess">
									<fa-icon [icon]="fasCheck"></fa-icon>
								</span>
								<span *ngIf="item.isCancel">
									<fa-icon [icon]="fasBan"></fa-icon>
								</span>
								<span *ngIf="item.isError">
									<fa-icon [icon]="fasTimes"></fa-icon>
								</span>
						</td>
						<td nowrap>
								<button type="button"
									class="btn btn-success btn-sm mr-2"
									(click)="item.upload()"
									[disabled]="item.isReady || item.isUploading || item.isSuccess">

									<fa-icon [icon]="fasUpload" class="pr-2"></fa-icon>
									<span>Upload</span>
								</button>
								<button type="button"
									class="btn btn-warning btn-sm mr-2"
									(click)="item.cancel()"
									[disabled]="!item.isUploading">

									<fa-icon [icon]="fasBan" class="pr-2"></fa-icon>
									<span>Cancel</span>
								</button>
								<button type="button" class="btn btn-danger btn-sm mr-2" (click)="item.remove()">
									<fa-icon [icon]="fasTrash" class="pr-2"></fa-icon>
									<span>Remove</span>
								</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="row mb-2">
				<div class="col">
					<span>Queue progress:</span>
					<div class="progress">
						<div class="progress-bar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<button type="button"
						class="btn btn-success mr-2"
						(click)="uploader.uploadAll()"
						[disabled]="!uploader.getNotUploadedItems().length">

						<fa-icon [icon]="fasUpload" class="pr-2"></fa-icon>
						<span>Upload all</span>
					</button>
					<button type="button"
						class="btn btn-warning mr-2"
						(click)="uploader.cancelAll()"
						[disabled]="!uploader.isUploading">

						<fa-icon [icon]="fasBan" class="pr-2"></fa-icon>
						<span>Cancel all</span>
					</button>
					<button type="button"
						class="btn btn-danger mr-2"
						(click)="uploader.clearQueue()"
						[disabled]="!uploader.queue.length">

						<fa-icon [icon]="fasTrash" class="pr-2"></fa-icon>
						<span>Remove all</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
