.dropzone {
	border: 2px dashed #0087f7;
	border-radius: 5px;
	background: #fff;
}

.dropzone .dz-message {
	font-weight: 400;
}

.dropzone .dz-message .note {
	font-size: 0.8em;
	font-weight: 200;
	display: block;
	margin-top: 1.4rem;
}

::ng-deep dropzone {
	> .dropzone.dz-wrapper .dz-message {
		border: unset !important;
		background-color: unset !important;
	}

	.dz-text { font-weight: bold; }
}
