.jumbotron {
	padding: 3.5rem 2rem;
	@media (max-width: 767px) { padding: 1.75rem 2rem; }
}

.display-4 {
	font-size: 2.75rem;
	@media (max-width: 767px) { font-size: 2.25rem; }
}

.lead {
	font-size: 1.85rem;
	@media (max-width: 767px) { font-size: 1.5rem; }
}

.btn-success-light {
	background-color: #66BB6A;
	border-color: #66BB6A;
	color: #FFF;
}

.btn-outline-success {
	color: #FFF;
}

.flex-form-container { height: 940px; }

.user-data-heading {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #95CE92;
	padding-bottom: 5px;
}

table.table-statistics td:not(.table-statistics-border) {
	border-top: 0;
	font-weight: bold;
}

.list-unstyled hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.acknowledgements {
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;

	&.alice {
		background-position: -2px 0;
		width: 120px;
		height: 120px;
		border-radius: 60px;
		border: 1px solid #CECECE;
	}

	&.maid {
		background-position: -2px -122px;
		width: 120px;
		height: 120px;
		border-radius: 60px;
		border: 1px solid #CECECE;
	}

	&.ruka {
		background-position: -2px -244px;
		width: 120px;
		height: 120px;
		border-radius: 60px;
		border: 1px solid #CECECE;
	}
}

a.platforms {
	display: inline-block;
	background-repeat: no-repeat;
	overflow: hidden;

	&.android {
		background-position: -2px 0;
		width: 120px;
		height: 120px;
	}

	&.chrome {
		background-position: -2px -122px;
		width: 120px;
		height: 120px;
	}

	&.firefox {
		background-position: -2px -244px;
		width: 120px;
		height: 120px;
	}
}

.btn-group {
	width: 80%;
	&.btn-group-2 .btn { width: 50%; }
	&.btn-group-3 .btn { width: 33.33%; }
}
