<form [formGroup]="addTitleForm" (ngSubmit)="add()">
	<div class="modal-header">
		<h4 class="modal-title">Add Title</h4>
		<button type="button" class="close" (click)="cancel()"><i>&times;</i></button>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="form-group col-lg-3 col-6 d-lg-block d-sm-none d-block pr-0">
				<label>Status</label>
				<select class="form-control" formControlName="watchStatus">
					<option *ngFor="let data of options.watchStatus"
						[value]="data.id">{{ data.label }}</option>
				</select>
			</div>
			<div class="form-group col-lg-3 col-sm-5 col-6 pr-sm-0 d-sm-block d-block">
				<label>Quality</label>
				<select class="form-control" formControlName="quality">
					<option *ngFor="let data of options.quality"
						[value]="data.id">{{ data.label }}</option>
				</select>
			</div>
			<div class="form-group col-lg-6 col-sm-7 col-12">
				<label>Title</label>
				<input type="text"
					class="form-control"
					formControlName="title"
					[ngClass]="{ 'is-invalid': submitted && form.title.errors }">
				<div class="invalid-feedback d-block" *ngIf="submitted && form.title.errors">
					<span *ngIf="form.title.errors.required">Title is required</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-6 d-lg-none d-sm-block d-none pr-0">
				<label>Status</label>
				<select class="form-control" formControlName="quality">
						<option *ngFor="let data of options.quality"
							[value]="data.id">{{ data.label }}</option>
					</select>
			</div>
			<div class="form-group col-2 pr-0">
				<label class="d-sm-inline-block d-none">Episodes</label>
				<label class="d-sm-none">EPs</label>
				<input type="text" class="form-control" formControlName="episodes">
			</div>
			<div class="form-group col-2 pr-0">
				<label>OVAs</label>
				<input type="text" class="form-control" formControlname="ovas">
			</div>
			<div class="form-group col-2 pr-lg-0 pr-md-def pr-sm-def pr-0">
				<label class="d-lg-inline-block d-none">Specials</label>
				<label class="d-lg-none">SPs</label>
				<input type="text" class="form-control" formControlname="specials">
			</div>
			<div class="form-group col-lg-3 col-sm-6 d-sm-block d-none pr-0">
				<label>Date Finished</label>
				<input type="text" class="form-control" formControlName="dateFinishedRaw">
			</div>
			<div class="form-group col-lg-3 col-sm-4 col-6 pr-xl-def pr-lg-def pr-sm-0">
				<label>Filesize</label>
				<input type="text"
					class="form-control"
					formControlName="filesize"
					ng-change="vm.removeNonNumeric()">
			</div>
			<div class="form-group col-sm-2 text-center d-lg-none d-sm-block d-none pl-0">
				<label>HDD</label>
				<div>
					<span class="switch switch-sm">
						<input type="checkbox"
							class="switch"
							id="hddCheck1"
							[checked]="form.inhdd.value"
							formControlName="inhdd">
						<label for="hddCheck1" class="mt-1 mb-0"></label>
					</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-2 col-3 pr-0">
				<label>Season #</label>
				<input type="text" class="form-control" formControlName="seasonNumber">
			</div>
			<div class="form-group col-lg-4 col-sm-7 col-9 pr-sm-0 pr-md-0 pr-lg-0">
				<label>First Season Title</label>
				<input type="text" class="form-control" formControlName="firstSeasonTitle">
			</div>
			<div class="form-group col-sm-3 d-lg-none d-sm-block d-none">
				<label>Duration</label>
				<input type="text" class="form-control" formControlName="durationRaw">
			</div>
			<div class="form-group col-lg-4 col-10 d-lg-block d-sm-none d-block pr-lg-0">
				<label>Release</label>
				<div class="input-group">
					<div class="input-group-prepend col-6 px-0">
						<select class="form-control" formControlName="releaseSeason">
							<option *ngFor="let data of options.releaseSeason"
								[value]="data.id">{{ data.label }}</option>
						</select>
					</div>
					<div class="input-group-append col-6 pl-1 pr-0">
						<select class="form-control" formControlName="releaseYear">
							<option *ngFor="let data of options.releaseYear"
								[value]="data.id">{{ data.label }}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group col-2 text-center d-lg-block d-sm-none d-block pl-0">
				<label>HDD</label>
				<div>
					<span class="switch switch-sm">
						<input type="checkbox"
							class="switch"
							id="hddCheck2"
							[checked]="form.inhdd.value"
							formControlName="inhdd">
						<label for="hddCheck2" class="mt-1 mb-0"></label>
					</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-lg-3 col-5 d-lg-block d-sm-none d-block pr-0">
				<label>Duration</label>
				<input type="text" class="form-control" formControlName="durationRaw">
			</div>
			<div class="form-group col-7 d-sm-none d-block">
				<label>Date Finished</label>
				<input type="text" class="form-control" formControlName="dateFinishedRaw">
			</div>
			<div class="form-group col-sm-5 d-lg-none d-sm-block d-none pr-0">
				<label>Release</label>
				<div class="input-group">
					<div class="input-group-prepend col-6 px-0">
						<select class="form-control" formControlName="releaseSeason">
							<option *ngFor="let data of options.releaseSeason"
								[value]="data.id">{{ data.label }}</option>
						</select>
					</div>
					<div class="input-group-append col-6 pl-1 pr-0">
						<select class="form-control" formControlName="releaseYear">
							<option *ngFor="let data of options.releaseYear"
								[value]="data.id">{{ data.label }}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group col-lg-5 col-sm-3 col-6 pr-0">
				<label>Encoder</label>
				<input type="text" class="form-control" formControlName="encoder">
			</div>
			<div class="form-group col-sm-4 col-6">
				<label>Remarks</label>
				<input type="text" class="form-control" formControlName="remarks">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-5 col-12">
				<div class="row">
					<div class="form-group col-12 pr-sm-0">
						<label>Variants</label>
						<textarea class="form-control" formControlName="variants"></textarea>
					</div>
				</div>
			</div>
			<div class="col-sm-7 col-12">
				<div class="row">
					<div class="form-group col-12">
						<label>Prequel</label>
						<input type="text"
							class="form-control"
							formControlName="prequel"
							[ngbTypeahead]="titleSearch">
					</div>
					<div class="form-group col-12">
						<label>Sequel</label>
						<input type="text"
							class="form-control"
							formControlName="sequel"
							[ngbTypeahead]="titleSearch">
					</div>
				</div>
			</div>
			<div class="col-12">
				<label>Offquel</label>
				<div class="input-group">
					<div class="input-group-prepend col-sm-5 col-12 px-0 mb-sm-0 mb-2">
						<input type="text" class="form-control" formControlName="offquel">
					</div>
					<div class="input-group-append col-sm-7 col-12 pl-0 pr-0 pl-xl-def pl-lg-def pl-md-def pl-sm-def">
						<div class="input-group">
							<input type="text"
								class="form-control"
								[formControl]="offquelSelection"
								[ngbTypeahead]="titleSearch">
							<div class="input-group-btn">
								<button class="btn btn-secondary" type="button" (click)="addOffquel()">Add</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="button" (click)="cancel()" class="btn btn-warning text-body mr-auto">
			<i class="fa fa-times pr-2"></i>
			<span>Cancel</span>
		</button>
		<button type="submit" class="btn btn-success text-body">
			<i class="fa fa-check pr-2"></i>
			<span>Save</span>
		</button>
	</div>
</form>
