<div class="row">
	<div class="col-1 pe-4 ps-3">
		<div class="skillset-sprite {{ sprite }}"></div>
	</div>
	<div class="col-4 px-0 me-2">
		<p><strong>{{ name }}</strong></p>
	</div>
	<div class="col-5 px-0">
		<div class="progress skillset-bar">
			<div class="progress-bar progress-bar-green" *ngIf="value > 0"></div>
			<div class="progress-bar progress-bar-alt-green" *ngIf="value > 1"></div>
			<div class="progress-bar progress-bar-green" *ngIf="value > 2"></div>
			<div class="progress-bar progress-bar-alt-green" *ngIf="value > 3"></div>
			<div class="progress-bar progress-bar-green" *ngIf="value > 4"></div>
		</div>
	</div>
</div>
