<div class="card">
	<div class="card-header bg-success-light">
		<h6 class="m-0">Changelog</h6>
	</div>

	<div class="card-body">
		<ul class="list-unstyled" *ngFor="let commits of githubCommits">
			<li class="font-weight-bold">{{ commits.title }}</li>
			<ul class="list-unstyled">
				<li *ngFor="let fix of commits.fix" class="pt-0-5">
					<h6 class="d-inline mr-2">
						<span class="badge badge-pill badge-success py-1">FIX</span>
					</h6>
					<span>{{ fix.message }}</span>
					<span *ngIf="fix.module"> on&nbsp;</span>
					<code *ngIf="fix.module">{{ fix.module }}</code>
				</li>
				<li *ngFor="let new of commits.new" class="pt-0-5">
					<h6 class="d-inline mr-2">
						<span class="badge badge-pill badge-primary py-1">NEW</span>
					</h6>
					<span>{{ new.message }}</span>
					<span *ngIf="new.module"> on&nbsp;</span>
					<code>{{ new.module }}</code>
				</li>
				<li *ngFor="let improve of commits.improve" class="pt-0-5">
					<h6 class="d-inline mr-2">
						<span class="badge badge-pill badge-warning text-white py-1">IMPROVED</span>
					</h6>
					<span>{{ improve.message }}</span>
					<span *ngIf="improve.module"> on&nbsp;</span>
					<code *ngIf="improve.module">{{ improve.module }}</code>
				</li>
				<li *ngFor="let dependency of commits.dep" class="pt-0-5">
					<h6 class="d-inline mr-2">
						<span class="badge badge-pill badge-dependency text-white py-1">DEPENDENCY</span>
					</h6>
					<span>{{ dependency.message }}</span>
				</li>
			</ul>
		</ul>
	</div>
</div>
