<div class="container-fluid">
	<div class="flex-form-container"
		*ngIf="dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" *ngIf="dataLoaded === true">
		<div class="col-lg-3 animate slideInLeft">
			<div class="row">
				<div class="col form-group">
					<div class="input-group">
						<input type="search"
							class="form-control border-right-0 border"
							placeholder="Search..."
							autofocus>
							<!-- ng-model="search"
							ng-model-options="{debounce: 200}" -->
						<span class="input-group-append">
							<div class="input-group-text bg-transparent border-left-0 border">
								<fa-icon [icon]="fasSearch"></fa-icon>
							</div>
						</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="list-group">
						<a class="list-group-item first-item link px-3 py-2 c-pointer"
							(click)="category.year = 0; category.season = 0;"
							[ngClass]="{'list-group-item-info': !category.year}">
							<span>Uncategorized</span>
							<div class="float-right">
								<span class="badge badge-success download-badge" ngbTooltip="Watched">
									{{ data[0][0][0]?.length || 0 }}
								</span>
								<span class="badge badge-primary download-badge" ngbTooltip="Downloaded">
									{{ data[0][0][2]?.length || 0 }}
								</span>
								<span class="badge badge-secondary download-badge" ngbTooltip="Queued" placement="left">
									{{ data[0][0][3]?.length || 0 }}
								</span>
							</div>
						</a>

						<div *ngFor="let key of objKeys(keys)">
							<a class="list-group-item link px-3 py-2 c-pointer"
								(click)="collapse[key] = !collapse[key]">
								<span>{{ key }}</span>
								<span class="float-right"><fa-icon [icon]="fasAngleDown"></fa-icon></span>
							</a>
							<a class="list-group-item link pl-4 pr-3 py-0 season-list c-pointer"
								*ngFor="let value of keys[key]"
								(click)="category.year = key; category.season = value;"
								[ngClass]="{'list-group-item-info': category.year === key && category.season === value}"
								[ngbCollapse]="!collapse[key]">

								<div class="py-2">
									<span *ngIf="value === 0">Winter</span>
									<span *ngIf="value === 1">Spring</span>
									<span *ngIf="value === 2">Summer</span>
									<span *ngIf="value === 3">Fall</span>

									<span class="float-right">
										<span class="badge badge-success download-badge" ngbTooltip="Watched">
											{{ data[key][value][0]?.length || 0 }}
										</span>
										<span class="badge badge-primary download-badge" ngbTooltip="Downloaded">
											{{ data[key][value][2]?.length || 0 }}
										</span>
										<span class="badge badge-secondary download-badge" ngbTooltip="Queued" placement="left">
											{{ data[key][value][3]?.length || 0 }}
										</span>
									</span>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-12 mt-lg-0 mt-3 animate slideInUp">

			<ng-container *ngFor="let key of objKeys(data[category.year][category.season])">
				<div class="card mb-2" *ngIf="key !== '1'">

					<div class="card-header p-3">
						<h5 class="mb-0">
							<a class="link c-pointer"
								(click)="collapse[0] = !collapse[0]"
								*ngIf="key === '0'">Finished Watching</a>
							<a class="link c-pointer"
								(click)="collapse[2] = !collapse[2]"
								*ngIf="key === '2'">Finished Downloading</a>
							<a class="link c-pointer"
								(click)="collapse[3] = !collapse[3]"
								*ngIf="key === '3'">In Queue</a>

							<div class="float-right">
								<div class="badge"
									[ngClass]="{
										'badge-success': key === '0',
										'badge-primary': key === '2',
										'badge-secondary': key === '3'
									}">

									{{ data[category.year][category.season][key].length }}
								</div>
							</div>
						</h5>
					</div>

					<div class="card-body p-0" [ngbCollapse]="collapse[key]">
						<div class="table-responsive">
							<table class="table table-sm">
								<thead>
									<tr>
										<th>Title</th>
										<th class="text-center">Remarks</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let data of data[category.year][category.season][key]">
										<td class="wrap">{{ data.title }}</td>
										<td class="text-center">
											<span>{{ data.remarks || "&mdash;" }}</span>
										</td>
										<td>
											<a class="btn btn-sm btn-warning float-right px-2 py-0 c-pointer" ngbTooltip="Edit Remarks">
												<fa-icon [icon]="fasPencil" class="text-white"></fa-icon>
											</a>
										</td>
										<td class="text-right">
											<a class="btn btn-sm btn-danger px-2 py-0 c-pointer" ngbTooltip="Delete Title">
												<fa-icon [icon]="fasTrash" class="text-white"></fa-icon>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</ng-container>

		</div>
	</div>
</div>
