$roboto-font-path: '../fonts';

@mixin roboto-font($folder, $variant, $type, $weight, $style) {
	$font-full-path: '#{$roboto-font-path}/#{$folder}/#{$variant}';

	@font-face {
		font-family: '#{$variant}';
		src: url('#{$font-full-path}-#{$type}.woff2') format('woff2');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}

	@font-face {
		font-family: '#{$variant}-#{$type}';
		src: url('#{$font-full-path}-#{$type}.woff2') format('woff2');
		font-display: swap;
	}
}

@include roboto-font('roboto', 'Roboto', 'Regular', 400, normal);
@include roboto-font('roboto', 'Roboto', 'RegularItalic', 400, italic);
@include roboto-font('roboto', 'Roboto', 'Light', 300, normal);
@include roboto-font('roboto', 'Roboto', 'Medium', 500, normal);
@include roboto-font('roboto', 'Roboto', 'MediumItalic', 500, italic);
@include roboto-font('roboto', 'Roboto', 'Bold', 700, normal);
@include roboto-font('roboto', 'Roboto', 'BoldItalic', 700, italic);
