<anidb-navbar></anidb-navbar>

<div class="container-fluid anidb-byname">
	<div class="flex-form-container"
		ng-class="{'d-none': vm.dataLoaded === true}">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" ng-class="{'d-none': vm.dataLoaded === false}">
		<div class="col-lg-3 col-12 animate slideInLeft">
			<div class="card">
				<div class="card-header bg-success-light">
					<h5 class="mb-0">Statistics</h5>
				</div>
				<div class="card-body px-3 py-2">
					<div class="table-responsive">
						<table class="table table-sm mb-0">
							<thead>
								<tr>
									<th></th>
									<th class="text-center">Titles</th>
									<th class="text-center">File Size</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in vm.data">
									<th>{{ data.key }}</th>
									<td class="text-center">{{ data.content.length }}</td>
									<td class="text-center">{{ data.filesize }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-12 mt-xl-0 mt-3 animate slideInUp">
			<div class="card mb-2" ng-repeat="data in vm.data" ng-hide="data.filesize === '-'">
				<a ng-href="#" class="link" ng-click="vm.panelCollapse(data.panel)">
					<div class="card-header p-3">
						<h5 class="mb-0">
								<span>{{ data.key }}</span>
								<span class="badge badge-secondary ml-2">{{ data.content.length }}</span>
							<p class="pull-right">{{ data.filesize }}</p>
						</h4>
					</div>
				</a>

				<div class="card-body p-0" uib-collapse="!vm.collapse[data.panel - 1]">
					<div class="table-responsive px-3 py-2">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>Title</th>
									<th>File Size</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="content in data.content">
									<td>
										<quality-legend value="{{ content.quality }}"></quality-legend>
										<span>{{ content.title }}</span>
									</td>
									<td>{{ content.filesize }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<anidb-footer></anidb-footer>
