<div class="container-fluid">
	<div class="flex-form-container"
		*ngIf="dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" *ngIf="dataLoaded === true">
		<div class="col-lg-3 animate slideInLeft">
			<div class="row mb-2">
				<div class="col-6 pe	-1">
					<button class="btn btn-primary w-100" (click)="addTitle()">Add Title</button>
				</div>
				<div class="col-6 ps-1">
					<button class="btn btn-success w-100" (click)="addSeason()">Add Season</button>
				</div>
			</div>
		</div>
	</div>
</div>
