<div class="add-title-download">
	<form ng-submit="vm.addTitle()">
		<div class="modal-header">
			<h4 class="modal-title">Add a Title</h4>
			<button type="button" class="close" ng-click="vm.cancel()"><i>&times;</i></button>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="form-group col-12">
					<label>Priority</label>
					<select class="form-control" ng-model="vm.data.priority">
						<option ng-repeat="data in vm.options.priority"
							ng-value="data">{{ data }}</option>
					</select>
				</div>
				<div class="form-group col-12">
					<label>Title</label>
					<input type="text" class="form-control" ng-model="vm.data.title">
				</div>
				<div class="form-group col-12">
					<label>Category</label>
					<div class="input-group">
						<div class="input-group-prepend col-6 pl-0">
							<select class="form-control" ng-model="vm.data.season">
								<option ng-repeat="data in vm.options.seasons"
									ng-value="data">{{ data }}</option>
							</select>
						</div>
						<div class="input-group-append col-6 pr-0">
							<select class="form-control" ng-model="vm.data.year">
								<option ng-repeat="data in vm.options.years"
									ng-value="data">{{ data }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" ng-click="vm.cancel()" class="btn btn-default mr-auto">
				<i class="fa fa-times"></i>
				<span>Cancel</span>
			</button>
			<button type="submit" class="btn btn-success">
				<i class="fa fa-check"></i>
				<span>Save</span>
			</button>
		</div>
	</form>
</div>
