<div class="quality-legend-container" [ngSwitch]="value">
	<div class="quality-legend legend-uhd"
		[ngbTooltip]="value"
		placement="right"
		*ngSwitchCase="'4K 2160p'">
	</div>
	<div class="quality-legend legend-fhd"
		[ngbTooltip]="value"
		placement="right"
		*ngSwitchCase="'FHD 1080p'">
	</div>
	<div class="quality-legend legend-hd"
		placement="right"
		*ngSwitchCase="'HD 720p'">
	</div>
	<div class="quality-legend legend-hq"
		[ngbTooltip]="value"
		placement="right"
		*ngSwitchCase="'HQ 480p'">
	</div>
	<div class="quality-legend legend-lq"
		[ngbTooltip]="value"
		placement="right"
		*ngSwitchDefault>
	</div>
</div>
