<anidb-navbar></anidb-navbar>

<div class="container-fluid manage-home">
	<div class="row">
		<div class="col-md-2 col-sm-3 d-none d-sm-block">
			<div class="form-group">
				<a ng-href="#" ng-click="vm.addTitle()" class="btn btn-success btn-block">
					<i class="fa fa-plus"></i>
					<span class="pl-2">Add</span>
				</a>
			</div>
		</div>
		<div class="col-3 d-sm-none">
			<div class="form-group">
				<a ng-href="#" ng-click="vm.addTitle()" class="btn btn-primary btn-block">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>
		<div class="col-md-10 col-sm-9 col-9 pl-0">
			<div class="input-group">
				<input type="search"
					class="form-control border-right-0 border"
					ng-model="search"
					ng-model-options="{debounce: 200}"
					placeholder="Keywords (comma-separated): sort/order, quality, release, encoder, remarks, inhdd"
					value="">
				<span class="input-group-append">
					<div class="input-group-text bg-transparent border-left-0 border">
						<i class="fa fa-search"></i>
					</div>
				</span>
				<button class="d-none">Submit</button>
			</div>
		</div>
	</div>

	<div class="flex-form-container"
		ng-if="vm.dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row animate"
		ng-if="vm.dataLoaded === true"
		ng-class="{'slideInUp': !vm.$stateParams.id}">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-hover table-sm" id="animeTable">
					<thead>
						<tr>
							<th>Title</th>
							<th class="text-center">
								<span class="d-none d-sm-inline">E / O / S</span>
								<span class="d-inline d-sm-none">E/O/S</span>
							</th>
							<th class="text-center">File Size</th>
							<th class="text-center">Date Finished</th>
							<th>Release</th>
							<th>Encoder</th>
						</tr>
					</thead>
					<!-- | filterBy: [
						'title',
						'quality',
						'releaseSeason',
						'releaseYear',
						'encoder',
						'variants',
						'remarks'
					]: search -->
					<tbody>
						<tr class="anime-table-row"
							id="{{ data.id }}"
							ng-click="vm.view(data.id)"
							ng-repeat="data in vm.data
								| orderBy: !vm.$scope.search && ['quality','title']
								| fuzzyBy: 'title': search">

							<td class="wrap">
								<quality-legend value="{{ data.quality }}"></quality-legend>
								<span>{{ ::data.title }}</span>
							</td>
							<td class="text-center">
								{{ ::data.episodes }} / {{ ::data.ovas }} / {{ ::data.specials }}
							</td>
							<td class="text-center">{{ ::data.filesize }}</td>
							<td class="text-center">{{ ::data.dateFinished }}</td>
							<td>{{ ::data.releaseSeason }} {{ ::data.releaseYear }}</td>
							<td>{{ ::data.encoder }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<anidb-footer></anidb-footer>
