<div class="container-fluid">
		<div class="flex-form-container sidebar"
			*ngIf="dataLoaded === false">
			<div class="spinner eclipse"></div>
		</div>

		<div class="row" *ngIf="dataLoaded === true">
			<div class="col-lg-3 col-12">
				<!-- <div class="row hidden" id="add_summer_list">
					<div class="col-md-12">
						<form class="hidden-sm">
							<div class="row">
								<div class="col-xs-6 form-group">
									<label>From</label>
									<input type="date" class="form-control" name="from">
								</div>
								<div class="col-xs-6 form-group">
									<label>To</label>
									<input type="date" class="form-control" name="to">
								</div>
								<div class="col-xs-12 form-group">
									<button class="btn btn-primary btn-block">Confirm</button>
								</div>
							</div>
						</form>

						<form class="form-horizontal hidden-xs visible-sm hidden-md hidden-lg">
							<div class="row">
								<div class="col-sm-4 form-group">
									<label class="control-label col-sm-2">From</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" name="from">
									</div>
								</div>
								<div class="col-sm-4 form-group">
									<label class="control-label col-sm-2">To</label>
									<div class="col-sm-10">
										<input type="date" class="form-control" name="to">
									</div>
								</div>
								<div class="col-sm-5 form-group">
									<button class="btn btn-primary btn-block">Confirm</button>
								</div>
							</div>
						</form>
					</div>
				</div> -->

				<div class="row mb-3">
					<div class="col-3 col-sm-2 col-md-3">
						<a class="btn btn-success btn-block c-pointer" (click)="addSummerList()">
							<i class="fa fa-plus"></i>
							<span class="pl-2 d-none d-md-inline-block d-lg-none">Add</span>
						</a>
					</div>
					<div class="col-9 col-sm-10 col-md-9">
						<div class="input-group">
							<input type="text" class="form-control border-right-0 border" placeholder="Search...">
							<span class="input-group-append">
								<div class="input-group-text bg-transparent border-left-0 border">
									<i class="fa fa-search"></i>
								</div>
							</span>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="list-group">
							<a class="list-group-item link px-3 py-2 c-pointer"
								*ngFor="let key of objKeys(data)"
								(click)="category = key"
								[ngClass]="{'list-group-item-info': category === key}">

								{{ data[key].summer.title }}
							</a>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12 mt-3">
						<div class="card">
							<div class="card-header bg-success-light">
								<h5 class="mb-0">Statistics</h5>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-sm table-unbordered">
										<tbody>
											<tr>
												<th colspan="3" class="text-center lead font-weight-bold">
													<span>{{ data[category].summer.titlesPerDay }}</span>
													<span>&nbsp;Titles Per Day</span>
												</th>
											</tr>
											<tr>
												<th colspan="3" class="text-center lead font-weight-bold">
													<span>{{ data[category].summer.episodesPerDay }}</span>
													<span>&nbsp;Episodes Per Day</span>
												</th>
											</tr>
											<tr><th colspan="3" class="px-0"><hr class="my-1"></th></tr>
											<tr><th colspan="3">Anime Per Quality</th></tr>
											<tr>
												<th>4K 2160p</th><th>:</th>
												<th class="text-center">{{ data[category].summer.quality.uhd }}</th>
											</tr>
											<tr>
												<th>FHD 1080p</th><th>:</th>
												<th class="text-center">{{ data[category].summer.quality.fhd }}</th>
											</tr>
											<tr>
												<th>HD 720p</th><th>:</th>
												<th class="text-center">{{ data[category].summer.quality.hd }}</th>
											</tr>
											<tr>
												<th>HQ 480p</th><th>:</th>
												<th class="text-center">{{ data[category].summer.quality.hq }}</th>
											</tr>
											<tr>
												<th>LQ 360p</th><th>:</th>
												<th class="text-center">{{ data[category].summer.quality.lq }}</th>
											</tr>
											<tr><th colspan="3" class="px-0"><hr class="my-1"></th></tr>
											<tr>
												<th>Total Titles</th><th>:</th>
												<th class="text-center">{{ data[category].summer.titles }}</th>
											</tr>
											<tr>
												<th>Total Episodes</th><th>:</th>
												<th class="text-center">{{ data[category].summer.episodes }}</th>
											</tr>
											<tr>
												<th>Total File Size</th><th>:</th>
												<th class="text-center">{{ data[category].summer.filesize }}</th>
											</tr>
											<tr><th colspan="3" class="px-0"><hr class="my-1"></th></tr>
											<tr>
												<th>Days</th><th>:</th>
												<th class="text-center">{{ data[category].summer.days }}</th>
											</tr>
											<tr>
												<th>Date Started</th><th>:</th>
												<th class="text-center">{{ data[category].summer.start }}</th>
											</tr>
											<tr>
												<th>Date Ended</th><th>:</th>
												<th class="text-center">{{ data[category].summer.end }}</th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-9">
				<div class="table-responsive">
					<table class="table table-sm table-hover" >
						<thead>
							<tr>
								<th>Title</th>
								<th class="text-center">E / O / S</th>
								<th class="text-center">File Size</th>
								<th>Date Finished</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let data of data[category].entries">
								<td class="wrap">
									<app-legend value="{{ data.quality }}"></app-legend>
									<span>{{ data.title }}</span>
								</td>
								<td class="text-center">
									{{ data.episodes }} / {{ data.ovas }} / {{ data.specials }}
								</td>
								<td class="text-center">{{ data.filesize }}</td>
								<td>
									<span>{{ data.dateFinished }}</span>
									<span *ngIf="data.rewatchFlag" class="text-muted small">&nbsp;(Rewatch)</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
