<div class="row">
	<div class="col-sm-6 col-md-4">
		<app-skillset name="HTML" value="5" sprite="html"></app-skillset>
		<app-skillset name="CSS" value="4" sprite="css"></app-skillset>
		<app-skillset name="LESS" value="3" sprite="less"></app-skillset>
		<app-skillset name="SCSS" value="5" sprite="scss"></app-skillset>
		<app-skillset name="Stylus" value="1" sprite="stylus"></app-skillset>
		<app-skillset name="JavaScript" value="4" sprite="js"></app-skillset>
		<app-skillset name="JS (ES6)" value="4" sprite="es6"></app-skillset>
		<app-skillset name="Android" value="1" sprite="android"></app-skillset>
		<app-skillset name="PHP" value="3" sprite="php"></app-skillset>
		<app-skillset name="Python" value="2" sprite="python"></app-skillset>
		<app-skillset name="C" value="4" sprite="c"></app-skillset>
		<app-skillset name="C++" value="3" sprite="cpp"></app-skillset>
		<app-skillset name="Java" value="3" sprite="java"></app-skillset>
		<app-skillset name="Shell" value="4" sprite="shell"></app-skillset>
	</div>

	<div class="col-sm-6 col-md-4">
		<app-skillset name="Bootstrap 3" value="5" sprite="bs3"></app-skillset>
		<app-skillset name="Bootstrap 4" value="4" sprite="bs4"></app-skillset>
		<app-skillset name="NodeJS" value="3" sprite="node"></app-skillset>
		<app-skillset name="SailsJS" value="3" sprite="sails"></app-skillset>
		<app-skillset name="ReactJS" value="3" sprite="react"></app-skillset>
		<app-skillset name="AngularJS" value="4" sprite="angular"></app-skillset>
		<app-skillset name="Mocha" value="1" sprite="mocha"></app-skillset>
		<app-skillset name="ChaiJS" value="2" sprite="chai"></app-skillset>
		<app-skillset name="NightwatchJS" value="3" sprite="nightwatch"></app-skillset>
		<app-skillset name="CodeIgniter" value="4" sprite="ci"></app-skillset>
		<app-skillset name="CakePHP" value="3" sprite="cakephp"></app-skillset>
		<app-skillset name="Laravel" value="3" sprite="laravel"></app-skillset>
		<app-skillset name="Django" value="1" sprite="django"></app-skillset>
		<app-skillset name="Apache Isis" value="3" sprite="apacheisis"></app-skillset>
	</div>

	<div class="col-sm-6 col-md-4">
		<app-skillset name="Docker" value="3" sprite="docker"></app-skillset>
		<app-skillset name="Strider CI" value="2" sprite="strider"></app-skillset>
		<app-skillset name="Travis CI" value="3" sprite="travis"></app-skillset>
		<app-skillset name="Apache" value="1" sprite="apache"></app-skillset>
		<app-skillset name="Nginx" value="3" sprite="nginx"></app-skillset>
		<app-skillset name="Firebase" value="3" sprite="firebase"></app-skillset>
		<app-skillset name="MySQL" value="3" sprite="mysql"></app-skillset>
		<app-skillset name="MongoDB" value="2" sprite="mongodb"></app-skillset>
		<app-skillset name="Redis" value="1" sprite="redis"></app-skillset>
		<app-skillset name="Gulp" value="5" sprite="gulp"></app-skillset>
		<app-skillset name="Webpack" value="3" sprite="webpack"></app-skillset>
		<app-skillset name="Cordova" value="2" sprite="cordova"></app-skillset>
		<app-skillset name="Yarn" value="5" sprite="yarn"></app-skillset>
	</div>
</div>
