<div class="container-fluid no-footer">
	<div class="background-image"></div>
	<div class="flex-form-container login-form-container animate fadeInDown">
		<div class="form-container">
			<div class="text-center mb-3">
				<div class="img-logo mx-auto"></div>
			</div>
			<div class="flex-form-container flex-form-container-loading" *ngIf="loading === true">
				<div class="spinner eclipse"></div>
			</div>
			<div *ngIf="loading === false">
				<ngb-alert type="danger" *ngIf="!!alert" (close)="alert = null">{{ alert }}</ngb-alert>
				<div class="form-group animated-input-container">
					<label for="email" class="text-center animated-label">Email Address</label>
					<input type="email"
						class="form-control text-center animated-input"
						(focus)="rerenderInputFocus($event)"
						(blur)="rerenderInputBlur($event)"
						[formControl]="email"
						required>
				</div>
				<div class="form-group animated-input-container">
					<label for="password" class="text-center animated-label">Password</label>
					<input type="password"
						class="form-control text-center animated-input"
						(focus)="rerenderInputFocus($event)"
						(blur)="rerenderInputBlur($event)"
						[formControl]="password"
						required>
				</div>
			</div>
			<div class="form-group">
				<button type="button"
					class="btn btn-block btn-login"
					(click)="authenticate()">
					LOGIN
				</button>
			</div>
			<div class="form-group text-center">
				<span class="text-dark-white">Forgot password?</span>
			</div>
			<!-- <hr class="bg-light">
			<div class="row">
				<div class="col google-sign-in">
					<div id="gSignIn" class="g-signin2" data-onsuccess="onSignIn"></div>
				</div>
			</div> -->
		</div>
	</div>
</div>
