.anidb-login {
	&.container-fluid {
		background-image: url("/assets/images/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	.flex-form-container { height: calc(100vh - 50px); }

	.form-container { width: 320px; }

	.flex-center {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.text-dark-white { color: #DEDEDE; }

	.img-logo {
		background-image: url("https://firebasestorage.googleapis.com/v0/b/rin-anidb.appspot.com/o/assets%2Flogo.png?alt=media&token=9b692777-82e8-4b87-8622-7743d1496dd7");
		background-size: 100%;
		width: 140px;
		height: 140px;
	}

	.flex-form-container-loading {
		height: 108px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
