<div class="container-fluid no-footer anidb-login">
	<div class="background-image"></div>
	<div class="flex-form-container login-form-container animate fadeInDown">
		<div class="form-container">
			<div class="text-center mb-3">
				<div class="img-logo mx-auto"></div>
			</div>
			<form ng-submit="vm.authenticate()">
				<div class="flex-form-container flex-form-container-loading"
					ng-if="vm.loading === true">
					<div class="spinner eclipse"></div>
				</div>
				<div ng-if="vm.loading === false">
					<div uib-alert
						class="alert-danger"
						ng-if="vm.alert !== null"
						close="vm.closeAlert()">
						{{ ::vm.alert }}
					</div>
					<div class="form-group">
						<label for="email" class="d-none"></label>
						<input type="email"
							class="form-control text-center"
							id="email"
							ng-model="vm.email"
							placeholder="Email Address">
					</div>
					<div class="form-group">
						<label for="password" class="d-none"></label>
						<input type="password"
							class="form-control text-center"
							id="password"
							ng-model="vm.password"
							placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<button type="submit"
						class="btn btn-block btn-success"
						ng-click="vm.submitForm()">
						Submit
					</button>
				</div>
				<div class="form-group text-center">
					<span class="text-dark-white">Forgot password?</span>
				</div>
			</form>
		</div>
	</div>
</div>
