<div class="container-fluid anidb-login">
	<div class="flex-form-container animate fadeInDown">
		<div class="form-container">
			<div class="text-center">
				<img ng-src="assets/images/logo.png" alt="" class="img-logo">
			</div>
			<form ng-submit="vm.authenticate()">
				<div class="form-group">
					<input type="email"
						class="form-control text-center"
						ng-model="email"
						placeholder="Email Address">
				</div>
				<div class="form-group">
					<input type="password"
						class="form-control text-center"
						ng-model="password"
						placeholder="Password">
				</div>
				<div class="form-group">
					<button type="submit"
						class="btn btn-block btn-success"
						ng-click="vm.submitForm()">
						Submit
					</button>
				</div>
				<div class="form-group text-center">
					<span class="text-dark-white">Forgot password?</span>
				</div>
			</form>
		</div>
	</div>
</div>

<anidb-footer></anidb-footer>
