.anidb-login {
	&.container-fluid {
		background-image: url("/assets/images/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}

	.flex-form-container { height: calc(100vh - 50px); }

	.form-container { width: 320px; }

	.flex-center {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.text-dark-white { color: #DEDEDE; }

	.img-logo {
		width: 140px;
		height: 140px;
	}
}
