$fa-font-path: "/assets/fonts";
@import "~font-awesome/scss/font-awesome";

$enable-transitions: false;
@import "~bootstrap/scss/bootstrap";
@import "~animatewithsass/animate.scss";
@import "~scss-spinners/components/eclipse";

@import "../assets/styles/animate-scss-extension";
@import "../assets/styles/bootstrap-extension";
@import "../assets/styles/bootstrap-switches";

$footer-height: 52px;

html {
	position: relative;
	min-height: 100%;

	body {
		font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
		font-size: 14px;
		line-height: 1.428571429;

		div.container, div.container-fluid {
			&:not(.no-footer) { margin-bottom: $footer-height; }
		}
	}

	.footer {
		position: absolute;
		bottom: 0;
		height: $footer-height;
		width: 100%;
		background-color: #F3F3F3;
	}
}

hr { border-color: #E4E6E8; }
thead th { border-top: 0 !important; }
td, th { white-space: nowrap; }
td.wrap, th.wrap { white-space: normal; }
.table-sm th, .table-sm td { padding: .5rem; }
.table-unbordered td, .table-unbordered th { border-top: 0; }

.form-control, .dropdown-menu { font-size: 14px; }
.btn { font-size: 15px; }
.checkbox label { cursor: default; }
.bg-success-light { background-color: #95CE92 !important; }
.pagination { justify-content: center; }
.big { font-size: 120%; }
.dropdown-item.active, .dropdown-item:active { cursor: default; }

.flex-form-container {
	height: calc(100vh - 70px - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
}

a.link {
	text-decoration: none !important;
	color: #000;
}

.card-header {
	padding: 1.25rem;
	h5 { font-size: 17px; }
}

nav .switch input:checked + label::before {
	background-color: #343A40;
}

// .g-signin2 .abcRioButton {
// 	margin: 0 auto;
// }
