@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome";

$roboto-font-path: "../fonts";
@import "node_modules/roboto-fontface/css/roboto/sass/roboto-fontface";

@import "node_modules/animatewithsass/animate.scss";
@import "node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
@import "node_modules/sweetalert/lib/sweet-alert.scss";

@import "./animate-scss-extension";
@import "./spinner-eclipse";

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
}

.form-control { font-size: 14px; }

.dropdown-menu { font-size: 14px; }

hr { border-color: #E4E6E8 }

.bg-success-light { background-color: #95CE92 !important; }
.pagination { justify-content: center; }

.btn-success-light {
	background-color: #66BB6A;
	border-color: #66BB6A;
	color: #FFF;
}

.card-header {
	padding: 1.25rem;
	h5 { font-size: 17px; }
}

.flex-form-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.table-unbordered > tbody > tr {
	td, th { border-top: 0px; }
}

.checkbox label { cursor: default; }

.table-sm th, .table-sm td { padding: 0.5rem }

thead th { border-top: 0px !important; }


/**
 * Bootstrap Extensions
 */

@mixin lpad-d() { padding-left: 15px !important; }
@mixin rpad-d() { padding-right: 15px !important; }

@media (max-width: 575px) {
	.pl-def { @include lpad-d(); }
	.pr-def { @include rpad-d(); }
}

@media (min-width: 576px) and (max-width: 767px) {
	.pl-sm-def { @include lpad-d(); }
	.pr-sm-def { @include rpad-d(); }
}

@media (min-width: 768px) and (max-width: 991px) {
	.pl-md-def { @include lpad-d(); }
	.pr-md-def { @include rpad-d(); }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.pl-lg-def { @include lpad-d(); }
	.pr-lg-def { @include rpad-d(); }
}

@media (min-width: 1200px) {
	.pl-xl-def { @include lpad-d(); }
	.pr-xl-def { @include rpad-d(); }
}

/**
 * Do not remove the comments below. It's the markers
 * used by gulp-inject to inject all your sass files automatically
 */
// injector
// endinjector
