@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome";

$roboto-font-path: "../fonts";
@import "node_modules/roboto-fontface/css/roboto/sass/roboto-fontface";

@import "node_modules/animatewithsass/animate.scss";
@import "node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
@import "node_modules/sweetalert/lib/sweet-alert.scss";

@import "./animate-scss-extension";
@import "./spinner-eclipse";

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
}

html {
	position: relative;
	min-height: 100%;

	body > div {
		> div.container, > div.container-fluid {
			&:not(.no-footer) { margin-bottom: 50px; }
		}
	}

	anidb-footer {
		position: absolute;
		bottom: 0;
		height: 50px;
		width: 100%;
		background-color: #f3f3f3;
	}
}

.form-control, .dropdown-menu { font-size: 14px; }
.btn { font-size: 15px; }

hr { border-color: #E4E6E8 }

thead th { border-top: 0px !important; }
td, th { white-space: nowrap; }
td.wrap, th.wrap { white-space: normal; }
.table-sm th, .table-sm td { padding: 0.5rem }
.table-unbordered td, .table-unbordered th { border-top: 0px; }

.checkbox label { cursor: default; }
.bg-success-light { background-color: #95CE92 !important; }
.pagination { justify-content: center; }
.big { font-size: 120%; }

.flex-form-container {
	height: calc(100vh - 70px - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-success-light {
	background-color: #66BB6A;
	border-color: #66BB6A;
	color: #FFF;
}

a.link {
	text-decoration: none !important;
	color: #000;
}

.card-header {
	padding: 1.25rem;
	h5 { font-size: 17px; }
}


/**
 * Bootstrap Extensions
 */

@mixin lpad-d() { padding-left: 15px !important; }
@mixin rpad-d() { padding-right: 15px !important; }

@media (max-width: 575px) {
	.pl-def { @include lpad-d(); }
	.pr-def { @include rpad-d(); }
}

@media (min-width: 576px) and (max-width: 767px) {
	.pl-sm-def { @include lpad-d(); }
	.pr-sm-def { @include rpad-d(); }
}

@media (min-width: 768px) and (max-width: 991px) {
	.pl-md-def { @include lpad-d(); }
	.pr-md-def { @include rpad-d(); }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.pl-lg-def { @include lpad-d(); }
	.pr-lg-def { @include rpad-d(); }
}

@media (min-width: 1200px) {
	.pl-xl-def { @include lpad-d(); }
	.pr-xl-def { @include rpad-d(); }
}

/**
 * Do not remove the comments below. It's the markers
 * used by gulp-inject to inject all your sass files automatically
 */
// injector
// endinjector
