.manage-download {
	.card-body > div { padding: 20px; }
	.card-body.collapsing { transition-duration: 1s; }
	.download-badge { width: 3em; }

	.list-group-item {
		&:first-child, &:last-child { border-radius: 0; }
		&:last-child { margin-bottom: -1px; }
		&.first-item { border-radius: 4px 4px 0 0; }
	}

	.download-legend {
		width: 10px;
		height: 10px;
		display: inline-block;

		.download-legend-watched { background-color: #C69; }
		.download-legend-downloaded { background-color: #9CF; }
		.download-legend-queued { background-color: #FC6; }
		.download-legend-prio-high { background-color: #9F9; }
		.download-legend-prio-normal { border: 1px solid #777; }
		.download-legend-prio-low { background-color: #C66; }
	}

	input[type=search].form-control:focus {
		outline: 0 !important;
		border-color: initial;
		box-shadow: none;
	}
}
