.manage-download {
	.table {
		margin-bottom: 0px;
	}

	.list-group-item {
		padding-top: 5px;
		padding-bottom: 5px;

		&:first-child,
		&:last-child {
			border-radius: 0px;
		}

		&:last-child {
			margin-bottom: -1px;
		}

		&.first-item {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
	}

	.download-label-container {
		display: inline-block;

		.label {
			width: 3em;
			display: inline-block;
			padding: .3em .6em;
		}
	}

	.season-list {
		padding-left: 35px;
	}

	.download-legend {
		width: 10px;
		height: 10px;
		display: inline-block;

		.download-legend-watched { background-color: #CC6699; }
		.download-legend-downloaded { background-color: #99CCFF; }
		.download-legend-queued { background-color: #FFCC66; }
		.download-legend-prio-high { background-color: #99FF99; }
		.download-legend-prio-normal { border: 1px solid #777777; }
		.download-legend-prio-low { background-color: #CC6666; }
	}
}
