<anidb-navbar></anidb-navbar>

<div class="container-fluid manage-download">
	<div class="row">

		<div class="col-md-3">
			<div class="row hidden">
				<div class="col-xs-3 col-sm-2 col-md-3">
					<div class="dropdown">
						<a class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-plus"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#" onclick="showAddTitle()">Add a Title</a></li>
							<li><a href="#" onclick="showAddSeasonList()">Add a Season List</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-9 col-sm-10 col-md-9">
					<div class="form-group has-feedback">
						<input type="text"
							class="form-control"
							placeholder="Search..."
							ng-model="vm.searchCategory">
						<span class="form-control-feedback">
							<i class="fa fa-search"></i>
						</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">

					<div class="list-group">
						<a ng-href="#"
							class="list-group-item first-item"
							ng-click="vm.category.year = null; vm.category.season = null;"
							ng-class="{'list-group-item-info': !vm.category.year}">
							<span>Uncategorized</span>
							<div class="pull-right">
								<div class="download-label-container">
									<span class="label label-success"
										uib-tooltip="Watched">
										{{ vm.data[0][0][0].length || 0 }}
									</span>
								</div>
								<div class="download-label-container">
									<span class="label label-primary"
										uib-tooltip="Downloaded">
										{{ vm.data[0][0][2].length || 0 }}
									</span>
								</div>
								<div class="download-label-container">
									<span class="label label-default"
										uib-tooltip="Queued"
										tooltip-placement="left">
										{{ vm.data[0][0][3].length || 0 }}
									</span>
								</div>
							</div>
						</a>

						<div ng-repeat="(key, keyValue) in vm.keys">
							<span class="list-group-item">{{ key }}</span>
							<a class="list-group-item season-list"
								ng-repeat="value in vm.keys[key]"
								ng-switch="value"
								ng-href="#"
								ng-click="vm.category.year = key; vm.category.season = value;"
								ng-class="{'list-group-item-info': vm.category.year === key
									&& vm.category.season === value}">

								<span ng-switch-when="0">Winter</span>
								<span ng-switch-when="1">Spring</span>
								<span ng-switch-when="2">Summer</span>
								<span ng-switch-when="3">Fall</span>

								<span class="pull-right">
									<div class="download-label-container">
										<span class="label label-success"
											uib-tooltip="Watched">
											{{ vm.data[key][value][0].length || 0 }}
										</span>
									</div>
									<div class="download-label-container">
										<span class="label label-primary"
											uib-tooltip="Downloaded">
											{{ vm.data[key][value][2].length || 0 }}
										</span>
									</div>
									<div class="download-label-container">
										<span class="label label-default"
											uib-tooltip="Queued"
											tooltip-placement="left">
											{{ vm.data[key][value][3].length || 0 }}
										</span>
									</div>
								</span>
							</a>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>
</div>

<anidb-footer></anidb-footer>
