<anidb-navbar></anidb-navbar>

<div class="container-fluid manage-download">
	<div class="flex-form-container"
		ng-if="vm.dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row" ng-if="vm.dataLoaded === true">
		<div class="col-lg-3 animate slideInLeft">
			<div class="row">
				<div class="col-lg-3 col-sm-2 col-3 pr-0">
					<div class="dropdown" uib-dropdown>
						<button class="btn btn-primary btn-block dropdown-toggle" uib-dropdown-toggle>
							<i class="fa fa-plus d-lg-inline d-sm-none d-inline"></i>
							<span class="d-lg-none d-sm-inline d-none">Add</span>
						</button>
						<div class="dropdown-menu" uib-dropdown-menu>
							<a ng-href="#"
								class="dropdown-item"
								ng-click="vm.addTitle()">
								Add a Title
							</a>
							<a ng-href="#"
								class="dropdown-item"
								ng-click="vm.addSeasonList()">
								Add a Season List
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-sm-10 col-9 form-group">
					<div class="input-group">
						<input type="search"
							class="form-control border-right-0 border"
							ng-model="vm.search"
							ng-model-options="{debounce: 200}"
							placeholder="Search..."
							autofocus>
						<span class="input-group-append">
							<div class="input-group-text bg-transparent border-left-0 border">
								<i class="fa fa-search"></i>
							</div>
						</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="list-group">
						<a ng-href="#"
							class="list-group-item first-item link px-3 py-2"
							ng-click="vm.category.year = 0; vm.category.season = 0;"
							ng-class="{'list-group-item-info': !vm.category.year}">
							<span>Uncategorized</span>
							<div class="pull-right">
								<span class="badge badge-success download-badge"
									uib-tooltip="Watched">
									{{ vm.data[0][0][0].length || 0 }}
								</span>
								<span class="badge badge-primary download-badge"
									uib-tooltip="Downloaded">
									{{ vm.data[0][0][2].length || 0 }}
								</span>
								<span class="badge badge-secondary download-badge"
									uib-tooltip="Queued"
									tooltip-placement="left">
									{{ vm.data[0][0][3].length || 0 }}
								</span>
							</div>
						</a>

						<div ng-repeat="(key, keyValue) in vm.keys">
							<a ng-href="#"
								ng-click="vm.collapse[key] = !vm.collapse[key]"
								class="list-group-item link px-3 py-2">
								<span>{{ key }}</span>
								<span class="">
									<i class="fa fa-caret-down"></i>
								</span>
							</a>
							<a class="list-group-item link pl-4 pr-3 py-0 season-list"
								ng-repeat="value in vm.keys[key]"
								ng-switch="value"
								ng-href="#"
								ng-click="vm.category.year = key; vm.category.season = value;"
								ng-class="{'list-group-item-info': vm.category.year === key
									&& vm.category.season === value}"
								uib-collapse="!vm.collapse[key]">

								<div class="py-2">
									<span ng-switch-when="0">Winter</span>
									<span ng-switch-when="1">Spring</span>
									<span ng-switch-when="2">Summer</span>
									<span ng-switch-when="3">Fall</span>

									<span class="pull-right">
										<span class="badge badge-success download-badge"
											uib-tooltip="Watched">
											{{ vm.data[key][value][0].length || 0 }}
										</span>
										<span class="badge badge-primary download-badge"
											uib-tooltip="Downloaded">
											{{ vm.data[key][value][2].length || 0 }}
										</span>
										<span class="badge badge-secondary download-badge"
											uib-tooltip="Queued"
											tooltip-placement="left">
											{{ vm.data[key][value][3].length || 0 }}
										</span>
									</span>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-12 mt-xl-0 mt-3 animate slideInUp">
			<div class="card mb-2"
				ng-repeat="(key, keyValue) in vm.data[vm.category.year][vm.category.season]"
				ng-switch="key"
				ng-hide="key === '1'">

				<div class="card-header p-3">
					<h5 class="mb-0">
						<a ng-href="#"
							class="link"
							ng-click="vm.collapse.isCollapsed0 = !vm.collapse.isCollapsed0"
							ng-switch-when="0">Finished Watching</a>
						<a ng-href="#"
							class="link"
							ng-click="vm.collapse.isCollapsed2 = !vm.collapse.isCollapsed2"
							ng-switch-when="2">Finished Downloading</a>
						<a ng-href="#"
							class="link"
							ng-click="vm.collapse.isCollapsed3 = !vm.collapse.isCollapsed3"
							ng-switch-when="3">In Queue</a>

						<div class="pull-right">
							<div class="badge"
								ng-class="{
									'badge-success': key === '0',
									'badge-primary': key === '2',
									'badge-secondary': key === '3'
								}">

								{{ keyValue.length }}
							</div>
						</div>
					</h5>
				</div>

				<div class="card-body p-0" uib-collapse="vm.collapse.isCollapsed{{key}}">
					<div class="table-responsive">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>Title</th>
									<th class="text-center">Remarks</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in vm.data[vm.category.year][vm.category.season][key]">
									<td class="wrap">{{ data.title }}</td>
									<td class="text-center">
										<span>{{ data.remarks || "&mdash;" }}</span>
									</td>
									<td>
										<a ng-href="#" class="btn btn-sm btn-warning pull-right px-2 py-0" uib-tooltip="Edit Remarks">
											<i class="fa fa-pencil"></i>
										</a>
									</td>
									<td class="text-right">
										<a ng-href="#" class="btn btn-sm btn-danger px-2 py-0" uib-tooltip="Delete Title">
											<i class="fa fa-trash"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<anidb-footer></anidb-footer>
