<div class="inmodal update-home">
	<form>
		<button type="button" class="close" ng-click="vm.cancel()">
			<i class="fa fa-times"></i>
		</button>
		<div class="modal-header">
			<i class="fa fa-pencil modal-icon hidden-xs"></i>
			<h4 class="modal-title">Edit Title</h4>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="col-md-3 col-sm-5 col-xs-6 pr-0">
					<div class="form-group">
						<label>Quality</label>
						<select class="form-control"
							ng-model="vm.data.quality">
							<option>4k 2160p</option>
							<option selected>FHD 1080p</option>
							<option>HD 720p</option>
							<option>HQ 480p</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 col-sm-7 hidden-xs pr-0">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" ng-model="vm.data.title">
					</div>
				</div>
				<div class="col-md-3 col-xs-6 hidden-sm">
					<div class="form-group">
						<label>Status</label>
						<select class="form-control">
							<option>Watched</option>
							<option>Downloaded</option>
							<option>Queued</option>
						</select>
					</div>
				</div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" ng-model="vm.data.title">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 hidden-xs hidden-md hidden-lg pr-0">
					<div class="form-group">
						<label>Status</label>
						<select class="form-control">
							<option>Watched</option>
							<option>Downloaded</option>
							<option>Queued</option>
						</select>
					</div>
				</div>
				<div class="col-md-2 col-sm-2 hidden-xs pr-0">
					<div class="form-group">
						<label>Episodes</label>
						<input type="text" class="form-control" ng-model="vm.data.episodes">
					</div>
				</div>
				<div class="col-xs-2 hidden-sm hidden-md hidden-lg pr-0">
					<div class="form-group">
						<label>EPs</label>
						<input type="text" class="form-control" ng-model="vm.data.episodes">
					</div>
				</div>
				<div class="col-md-2 col-sm-2 hidden-xs pr-0">
					<div class="form-group">
						<label>OVAs</label>
						<input type="text" class="form-control" ng-model="vm.data.ovas">
					</div>
				</div>
				<div class="col-xs-2 hidden-sm hidden-md hidden-lg pr-0">
					<div class="form-group">
						<label>OVAs</label>
						<input type="text" class="form-control" ng-model="vm.data.ovas">
					</div>
				</div>
				<div class="col-md-2 hidden-xs hidden-sm pr-0">
					<div class="form-group">
						<label>Specials</label>
						<input type="text" class="form-control" ng-model="vm.data.specials">
					</div>
				</div>
				<div class="col-sm-2 hidden-xs hidden-md hidden-lg">
					<div class="form-group">
						<label>Specials</label>
						<input type="text" class="form-control" ng-model="vm.data.specials">
					</div>
				</div>
				<div class="col-xs-2 hidden-sm hidden-md hidden-lg pr-0">
					<div class="form-group">
						<label>SPs</label>
						<input type="text" class="form-control" ng-model="vm.data.specials">
					</div>
				</div>
				<div class="col-md-3 col-sm-6 hidden-xs pr-0">
					<div class="form-group">
						<label>Date Finished</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="form-group">
						<label>Filesize</label>
						<input type="text" class="form-control" ng-model="vm.data.filesize">
					</div>
				</div>
				<div class="col-sm-2 hidden-xs hidden-md hidden-lg">
					<div class="form-group text-center">
						<label>HDD</label>
						<div class="checkbox checkbox-success checkbox-cicle">
							<input type="checkbox"
								ng-model="vm.data.inhdd"
								ng-true-value="1"
								ng-false-value="0">
							<label></label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-3 pr-0">
					<div class="form-group">
						<label>Season #</label>
						<input type="text" class="form-control" ng-model="vm.data.seasonNumber">
					</div>
				</div>
				<div class="col-md-4 col-sm-7 hidden-xs pr-0">
					<div class="form-group">
						<label>First Season Title</label>
						<input type="text"
							class="form-control"
							ng-model="vm.data.firstSeasonTitle">
					</div>
				</div>
				<div class="col-xs-9 hidden-sm hidden-md hidden-lg">
					<div class="form-group">
						<label>First Season Title</label>
						<input type="text"
							class="form-control"
							ng-model="vm.data.firstSeasonTitle">
					</div>
				</div>
				<div class="col-sm-3 hidden-xs hidden-md hidden-lg">
					<div class="form-group">
						<label>Duration</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-md-4 col-xs-10 hidden-sm pr-0">
					<div class="form-group">
						<label>Release</label>
						<input type="text" class="form-control">
					</div>
					<!-- <div class="form-inline">
						<div class="form-group">
							<label>Release</label>
							<select class="form-control">
								<option>Watched</option>
								<option>Downloaded</option>
								<option>Queued</option>
							</select>
						</div>
						<div class="form-group">
							<label>&nbsp;</label>
							<select class="form-control">
								<option>Watched</option>
								<option>Downloaded</option>
								<option>Queued</option>
							</select>
						</div>
					</div> -->
				</div>
				<div class="col-md-2 col-xs-2 hidden-sm">
					<div class="form-group text-center">
						<label>HDD</label>
						<div class="checkbox checkbox-success checkbox-cicle">
							<input type="checkbox"
								ng-model="vm.data.inhdd"
								ng-true-value="1"
								ng-false-value="0">
							<label></label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-xs-5 hidden-sm pr-0">
					<div class="form-group">
						<label>Duration</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-xs-7 hidden-sm hidden-md hidden-lg">
					<div class="form-group">
						<label>Date Finished</label>
						<input type="text" class="form-control">
					</div>
				</div>
				<div class="col-sm-6 hidden-xs hidden-md hidden-lg pr-0">
						<div class="form-group">
							<label>Release</label>
							<input type="text" class="form-control">
						</div>
						<!-- <div class="form-inline">
							<div class="form-group">
								<label>Release</label>
								<select class="form-control">
									<option>Watched</option>
									<option>Downloaded</option>
									<option>Queued</option>
								</select>
							</div>
							<div class="form-group">
								<label>&nbsp;</label>
								<select class="form-control">
									<option>Watched</option>
									<option>Downloaded</option>
									<option>Queued</option>
								</select>
							</div>
						</div> -->
					</div>
				<div class="col-md-5 col-sm-3 col-xs-6 pr-0">
					<div class="form-group">
						<label>Encoder</label>
						<input type="text" class="form-control" ng-model="vm.data.encoder">
					</div>
				</div>
				<div class="col-md-4 col-sm-3 col-xs-6">
					<div class="form-group">
						<label>Remarks</label>
						<input type="text" class="form-control" ng-model="vm.data.remarks">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-sm-5 hidden-xs pr-0">
					<div class="form-group">
						<label>Variants</label>
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
					<div class="form-group">
						<label>Variants</label>
						<textarea class="form-control"></textarea>
					</div>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="form-group">
						<label>Prequel</label>
						<input type="text" class="form-control" ng-model="vm.data.prequel">
					</div>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="form-group">
						<label>Sequel</label>
						<input type="text" class="form-control" ng-model="vm.data.sequel">
					</div>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="form-group">
						<label>Offquel</label>
						<div class="input-group">
							<input type="text" class="form-control">
							<div class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				<i class="fa fa-check"></i>
				<span>Save</span>
			</button>
			<button type="button" ng-click="vm.cancel()" class="btn btn-default">
				<i class="fa fa-times"></i>
				<span>Cancel</span>
			</button>
		</div>
	</form>
</div>
