<div class="inmodal update-home">
	<form>
		<button type="button" class="close" ng-click="vm.cancel()">
			<i class="fa fa-times"></i>
		</button>
		<div class="modal-header">
			<i class="fa fa-pencil modal-icon hidden-xs"></i>
			<h4 class="modal-title">Edit Title</h4>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="form-group col-md-3 col-xs-6 hidden-sm pr-0">
					<label>Status</label>
					<select class="form-control">
						<option>Watched</option>
						<option>Downloaded</option>
						<option>Queued</option>
					</select>
				</div>
				<div class="form-group col-md-3 col-sm-5 col-xs-6 pr-lg-0 pr-md-0 pr-sm-0">
					<label>Quality</label>
					<select class="form-control"
						ng-model="vm.data.quality">
						<option>4k 2160p</option>
						<option>FHD 1080p</option>
						<option>HD 720p</option>
						<option>HQ 480p</option>
					</select>
				</div>
				<div class="form-group col-md-6 col-sm-7 col-xs-12">
					<label>Title</label>
					<input type="text" class="form-control" ng-model="vm.data.title">
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-6 hidden-xs hidden-md hidden-lg pr-0">
					<label>Status</label>
					<select class="form-control">
						<option>Watched</option>
						<option>Downloaded</option>
						<option>Queued</option>
					</select>
				</div>
				<div class="form-group col-xs-2 pr-0">
					<label class="hidden-xs">Episodes</label>
					<label class="hidden-sm hidden-md hidden-lg">EPs</label>
					<input type="text" class="form-control" ng-model="vm.data.episodes">
				</div>
				<div class="form-group col-xs-2 pr-0">
					<label>OVAs</label>
					<input type="text" class="form-control" ng-model="vm.data.ovas">
				</div>
				<div class="form-group col-xs-2 pr-lg-0 pr-md-0 pr-xs-0">
					<label class="hidden-xs">Specials</label>
					<label class="hidden-sm hidden-md hidden-lg">SPs</label>
					<input type="text" class="form-control" ng-model="vm.data.specials">
				</div>
				<div class="form-group col-md-3 col-sm-6 hidden-xs pr-0">
					<label>Date Finished</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-md-3 col-sm-4 col-xs-6">
					<label>Filesize</label>
					<input type="text" class="form-control" ng-model="vm.data.filesize">
				</div>
				<div class="form-group col-sm-2 text-center hidden-xs hidden-md hidden-lg">
					<label>HDD</label>
					<div class="checkbox checkbox-success checkbox-cicle">
						<input type="checkbox"
							ng-model="vm.data.inhdd"
							ng-true-value="1"
							ng-false-value="0">
						<label></label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-2 col-xs-3 pr-0">
					<label>Season #</label>
					<input type="text" class="form-control" ng-model="vm.data.seasonNumber">
				</div>
				<div class="form-group col-md-4 col-sm-7 col-xs-9 pr-sm-0 pr-md-0 pr-lg-0">
					<label>First Season Title</label>
					<input type="text"
						class="form-control"
						ng-model="vm.data.firstSeasonTitle">
				</div>
				<div class="form-group col-sm-3 hidden-xs hidden-md hidden-lg">
					<label>Duration</label>
					<input type="text" class="form-control">
				</div>
				<div class="col-md-4 col-xs-10 hidden-sm pr-lg-0 pr-md-0">
					<div class="form-group col-xs-6 px-0">
						<label>Release</label>
						<select class="form-control">
							<option>Winter</option>
							<option>Spring</option>
							<option>Summer</option>
							<option>Fall</option>
						</select>
					</div>
					<div class="form-group col-xs-6 pl-1 pr-0">
						<label>&nbsp;</label>
						<select class="form-control">
							<option>2018</option>
							<option>2017</option>
							<option>2016</option>
						</select>
					</div>
				</div>
				<div class="form-group col-xs-2 text-center hidden-sm">
					<label>HDD</label>
					<div class="checkbox checkbox-success checkbox-cicle">
						<input type="checkbox"
							ng-model="vm.data.inhdd"
							ng-true-value="1"
							ng-false-value="0">
						<label></label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-3 col-xs-5 hidden-sm pr-0">
					<label>Duration</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-xs-7 hidden-sm hidden-md hidden-lg">
					<label>Date Finished</label>
					<input type="text" class="form-control">
				</div>
				<div class="col-sm-6 hidden-xs hidden-md hidden-lg pr-0">
						<div class="form-group">
							<label>Release</label>
							<input type="text" class="form-control">
						</div>
					</div>
				<div class="form-group col-md-5 col-sm-3 col-xs-6 pr-0">
					<label>Encoder</label>
					<input type="text" class="form-control" ng-model="vm.data.encoder">
				</div>
				<div class="form-group col-md-4 col-sm-3 col-xs-6">
					<label>Remarks</label>
					<input type="text" class="form-control" ng-model="vm.data.remarks">
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-5 col-xs-12 pr-sm-0 pr-md-0 pr-lg-0">
					<label>Variants</label>
					<textarea class="form-control"></textarea>
				</div>
				<div class="form-group col-sm-7 col-xs-12">
					<label>Prequel</label>
					<input type="text"
						class="form-control"
						ng-model="vm.data.prequel"
						uib-typeahead="o for o in vm.titleList | filter: $viewValue | limitTo:4">
				</div>
				<div class="form-group col-sm-7 col-xs-12">
					<label>Sequel</label>
					<input type="text"
						class="form-control"
						ng-model="vm.data.sequel"
						uib-typeahead="o for o in vm.titleList | filter: $viewValue | limitTo:4">
				</div>
				<div class="col-xs-12">
					<div class="form-group col-sm-5 col-xs-12 px-0 mb-xs-0">
						<label>Offquel</label>
						<input type="text"
							class="form-control"
							ng-model="vm.data.offquel">
					</div>
					<div class="form-group col-sm-7 col-xs-12 pr-0 pl-xs-0">
						<label class="hidden-xs">&nbsp;</label>
						<div class="input-group">
							<input type="text"
								id="offquelSelection"
								class="form-control"
								ng-model="vm.offquelSelection"
								uib-typeahead="o for o in vm.titleList | filter: $viewValue | limitTo:4">
							<div class="input-group-btn">
								<button class="btn btn-default"
									type="button"
									ng-click="vm.addOffquel()"
									set-focus="offquelSelection">Add</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">
				<i class="fa fa-check"></i>
				<span>Save</span>
			</button>
			<button type="button" ng-click="vm.cancel()" class="btn btn-default">
				<i class="fa fa-times"></i>
				<span>Cancel</span>
			</button>
		</div>
	</form>
</div>
