<div class="container">
	<div class="flex-form-container" *ngIf="dataLoaded === false">
		<div class="spinner eclipse"></div>
	</div>

	<div class="row animate fadeInDown" *ngIf="dataLoaded === true">

		<div class="col-12 mb-2 d-lg-none d-block">
			<div class="row mb-2">
				<div class="col-sm-4 col-12 mb-sm-0 mb-2 px-sm-3">
					<a class="btn btn-primary w-100 text-white c-pointer" routerLink="/">
						<fa-icon [icon]="fasAngleLeft" class="pe-2"></fa-icon>
						<span>Back</span>
					</a>
				</div>
				<div class="col-sm-4 col-6 px-sm-3 pe-1">
					<a class="btn btn-warning w-100 text-white c-pointer" (click)="editTitle()">
						<fa-icon [icon]="fasPencil" class="pe-2"></fa-icon>
						<span>Edit</span>
					</a>
				</div>
				<div class="col-sm-4 col-6 px-sm-3 ps-1">
					<a class="btn btn-danger w-100 text-white c-pointer" (click)="deleteTitle()">
						<fa-icon [icon]="fasTrash" class="pe-2"></fa-icon>
						<span>Delete</span>
					</a>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-4 col-sm-5 col-12 animate slideInLeft">
			<div class="row mb-2 d-lg-flex d-none mx-auto navigation-container">
				<div class="col-lg-12 mb-2">
					<a class="btn btn-primary w-100 text-white c-pointer" routerLink="/">
						<fa-icon [icon]="fasAngleLeft" class="pe-2"></fa-icon>
						<span>Back</span>
					</a>
				</div>
				<div class="col-lg-6 pe-1">
					<a class="btn btn-warning w-100 text-white c-pointer" (click)="editTitle()">
						<fa-icon [icon]="fasPencil" class="pe-2"></fa-icon>
						<span>Edit</span>
					</a>
				</div>
				<div class="col-lg-6 ps-1">
					<a class="btn btn-danger w-100 text-white c-pointer" (click)="deleteTitle()">
						<fa-icon [icon]="fasTrash" class="pe-2"></fa-icon>
						<span>Delete</span>
					</a>
				</div>
			</div>
			<div class="row d-sm-none mb-3 text-center">
				<div class="col-12">
					<h5><span class="badge bg-{{data.qualityClass}} text-dark">{{ data.quality }}</span></h5>
					<h2>{{ data.title }}</h2>
					<h4 class="text-muted" *ngIf="data.shortTitle">
						<em>&#10077;&nbsp;{{ data.shortTitle }}&#10078;</em>
					</h4>
					<h5 class="text-muted" *ngIf="data.filesize">{{ data.filesize }}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="mt-3 mx-auto image-container">
						<img class="img-responsive">
					</div>
				</div>
				<div class="col-12 text-center my-4">
					<button class="btn btn-success py-2 px-3" (click)="viewRewatch()">
						<h5 class="mb-0">
							<span>Rewatches</span>
							<span class="badge bg-light text-dark px-3 ms-2">{{ data.rewatchCount }}</span>
						</h5>
					</button>
				</div>
				<div class="col-12">
					<app-rating [audio]="data.rating?.audio || 0"
						[enjoyment]="data.rating?.enjoyment || 0"
						[graphics]="data.rating?.graphics || 0"
						[plot]="data.rating?.plot || 0"
						(ratingChange)="updateRating($event)"></app-rating>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-md-8 col-sm-7 col-12 animate slideInUp">
			<div class="row d-sm-flex d-none">
				<div class="col-12">
					<p class="h3 d-md-flex align-items-start item-title-container">
						<span class="pe-2 d-md-flex item-encoder" *ngIf="data.encoder">[{{ data.encoder }}]</span>
						<span class="d-md-flex item-title">{{ data.title }}&nbsp;</span>
						<span class="h5 d-md-flex mb-0 item-quality">
							<span class="badge bg-{{data.qualityClass}} ms-lg-2 text-dark">{{ data.quality }}</span>
						</span>
					</p>
					<h5 class="text-muted" *ngIf="data.shortTitle">
						<em>&#10077;&nbsp;{{ data.shortTitle }}&#10078;</em>
					</h5>
					<h6 class="text-muted">{{ data.filesize }}</h6>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<h4 class="data-heading">Episode Information</h4>
					<p class="big">Episodes : {{ data.episodes }}</p>
					<div class="row">
						<div class="col-6">
							<p class="big">Specials : {{ data.specials }}</p>
						</div>
						<div class="col-6">
							<p class="big">OVAs : {{ data.ovas }}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<h4 class="data-heading">Series Information</h4>
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="row">
								<div class="col-12"
									*ngIf="data.releaseYear && data.releaseSeason">
									<p class="big">
										<fa-icon [icon]="fasSnow"
											class="pe-2 icon-winter"
											*ngIf="data.releaseSeason === 'Winter'">
										</fa-icon>
										<fa-icon [icon]="fasLeaf"
											class="pe-2 icon-spring"
											*ngIf="data.releaseSeason === 'Spring'">
										</fa-icon>
										<fa-icon [icon]="fasSun"
											class="pe-2 icon-summer"
											*ngIf="data.releaseSeason === 'Summer'">
										</fa-icon>
										<fa-icon [icon]="fasTree"
											class="pe-2 icon-fall"
											*ngIf="data.releaseSeason === 'Fall'">
										</fa-icon>
										<span>{{ data.releaseSeason }}&nbsp;</span>
										<span>{{ data.releaseYear }}</span>
									</p>
								</div>
								<div class="col-12" *ngIf="data.lastRewatch">
									<p class="big">Last Finished on {{ data.lastRewatch }}</p>
								</div>
								<div class="col-12">
									<p class="big">
										<span *ngIf="data.lastRewatch">Initially&nbsp;</span>
										<span>Finished on {{ data.dateFinished }}</span>
									</p>
								</div>
								<div class="col-12" *ngIf="data.duration">
									<p class="big">
										<span>Duration:&nbsp;</span>
										<span>{{ data.duration.hours }}h&nbsp;</span>
										<span>{{ data.duration.minutes }}m&nbsp;</span>
										<span>{{ data.duration.seconds }}s&nbsp;</span>
									</p>
								</div>
								<div class="col-lg-12" *ngIf="data.firstSeasonTitle">
									<p class="big">
										<span>Season {{ data.seasonNumber }} of&nbsp;</span>
										<span>{{ data.firstSeasonTitle }}</span>
									</p>
								</div>
								<div class="col-12" *ngIf="data.remarks">
									<p class="big">Remarks: {{ data.remarks }}</p>
								</div>
								<!-- <div class="col-lg-12" *ngIf="data.variants[0]">
									<p class="big">Variants :&nbsp;</p>
									<p class="big ps-4" *ngFor="let variants of data.variants">{{ variants }}</p>
								</div> -->
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<p class="big" *ngIf="data.prequel">Prequel: {{ data.prequel }}</p>
							<p class="big" *ngIf="data.sequel">Sequel: {{ data.sequel }}</p>
							<p class="big mb-2" *ngIf="data.offquel[0]">Offquel :</p>
							<p class="big ps-4" *ngFor="let offquel of data.offquel">
								<fa-icon class="pe-2" [icon]="fasAngleRight"></fa-icon>
								<span>{{ offquel }}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
