div.image-container {
	background-color: #D3D3D3;
	width: 100%;
	max-width: 262.5px;
	height: 300px;

	@media screen and (max-width: 767px) { margin: 0 auto; }
}

.data-heading {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #95CE92;
	padding-bottom: 5px;
}

.btn-warning {
	background-color: #FF9800;
	border-color: #FF9800;
}

.icon-summer { color: #87CEEB; }
.icon-spring { color: #008000; }
.icon-summer { color: #FFA500; }
.icon-fall { color: #FF4500; }

.badge-uhd { background-color: #F9C; }
.badge-fhd { background-color: #9F9; }
.badge-hd { background-color: #9CF; }
.badge-hq { background-color: #FC6; }
.badge-lq { border: 1px solid #777; }
