.star {
	font-size: 1.5rem;
	color: #dedede;
	font-family: -apple-system, "Segoe UI", Roboto, "Nunito Sans", Arial, Helvetica, sans-serif;

	&.full {
		color: #28a745;

		&.low { color: #1e90ff; }
		&.bad { color: #e57373; }
	}
}

.heart {
	position: relative;
	display: inline-block;
	font-size: 2.5rem;
	color: #dedede;
	font-family: -apple-system, "Segoe UI", Roboto, "Nunito Sans", Arial, Helvetica, sans-serif;

	.half {
		position: absolute;
		display: inline-block;
		overflow: hidden;
		color: #28a745;
	}

	&.low .half { color: #1e90ff; }
	&.bad .half { color: #e57373; }
}
